.enhanced {
	.checkout-address-cards{
		margin-left: -3%;
		li{
			width: 11.99em;
		}
		.add-new-address {
			width: 11.99em;
		}
	}
}
.checkout-address-cards li .personal-details p.adr span {
  font-size: 14px;
  line-height: 22px;
}