/*anchos contenedores*/
#top-level-navigation .top-level-container {
  width: 940px !important; 
}
#secure-header {
  width: 940px !important; 
} 
#primary-content {
  margin: 0 auto 0 auto;
  width: 940px !important; 
}
.span12, .container {
  width: 940px; 
}
.span8 {
  width: 620px;
}
.span4 {
  width: 300px;
}
.primary-copyright div {
  width: 940px;
}
.checkout-steps {
	width: 940px;	
}
/**/
body {
  font-size: 0.95em;
}

p {
  font-size: 0.95em;
  line-height: 1.5em;
}


.enhanced .checkout-address-cards li .personal-details .name{
  margin-left: 1.2em;
}

.enhanced .checkout-address-cards li .personal-details .name {
  font-size: 1em;
  text-transform: capitalize;
  margin-bottom: 1em;
  min-height: 4em;
}

.form-errors{
  border: 1px solid #c00 !important;
  li{
    color: #c00;
  }
}
.basket-summary {
  font-size: 0.9em;
}

.errors-list li {
    font-size: 0.9em;
}
.order-detail__delivery__box-billing__button-data a{
  font-size: 0.82em;
}
.order-detail__delivery__box-billing__button a{
  font-size: 0.82em;
}
.order-detail__delivery__box-billing{
  width: 92%;
}

.gift-check {
  margin-left: 10px !important;
  margin-top: 19px !important;
}

.store-list .store-selector{
  padding: 0.7em 0.67em;
}