.btn-success {
  .gradient-button-green();
  padding: 0.538em 0;

}
.modal-footer {
  .btn.btn-success {
    padding: 0.5em 1em;
  } 
}



#removeDiscount{
  display: inline-block;
  padding: .7em 1em;
  font-size: 0.9em;
}

.checkout-payment-apply-promos .form-horizontal .controls #btn-gift-card {
  .gradient-button-green();
  padding: 0.538em 2%;

}
.control-group .controls #btn-coupon{
  .gradient-button-green();
  padding: 0.538em 2% !important;
}
.up-success {
  width: 32%;
  padding: 0.538em 0;
}
.button-set__button--grey {
  padding: 0.55em 8% !important;
}