@eci_color:         #008c2e;
@eci_color2:        #88cc88;
@eci_color3:        #dbf0db;
@sts-eci:			#87cc89;

/* Hipercor */
@hipercor_color:    #1969a3;
@hipercor_color2:   #a2c2d9;
@hipercor_color3:   #e3edf4;
@red_color:         #e85c5d;

/* Opencor */
@sts-opencor: 		#ec5c5c;

/* Change this to customize */
@brand_color:       @eci_color;
@brand_color2:      @eci_color2;
@brand_color3:      @eci_color3;
@band_color:        @white15;
@band_text_color:   @white75;



@white:   #fff;

/*si*/
@white99:@white25 #fcfcfc;
/*fin si*/


@white100: #FAFAFA;
@white95: #f0f0f0;
@white90: #e1e1e1;
@white85: #d9d9d9;
@white80: #c5c5c5;
@white75: #b7b7b7;
@white50: #757676;
@white25: #3e3e3e;
@white20: #333333;
@white15: #242424;
@white0:  #000;

@grey: #313131;
@grey2: #6d6d6d;
@grey3: #767676;
@grey4: #f6f6f6;
@grey5: #ccc;
@grey6: #ebeaeb;

@warning40: #ffe56c;


@link_color: @white50;
@link_color_hover: @white25;
@offer_text_color: #c00;
@promotions_color: #fcc;

@add_to_cart:       @brand_color2;
@add_to_cart_hover: @brand_color;

@reserve:           @brand_color2;
@reserve_hover:     @brand_color;

@sold_out:          @white75;

// touch menu
@touch_menu_bg_clr:    @grey;
@touch_menu_clr:       @grey5;
@touch_menu_br_clr:    @grey2;
@touch_submenu_bg_clr: @grey3;
@touch_submenu_br_clr: @grey4;

@desktop_menu_element_br_clr:@grey6;
@desktop_menu_bg_clr: @grey4;
@desktop_submenu_br_clr:@touch_submenu_br_clr;


/* Backoffice */
@btn_green:   #82e09a;
@btn_green2:  #5bd47a;
@btn_blue:    #9bbfef;
@btn_blue2:   #7fadec;
@btn_red:	    #e6968b;
@btn_red2:    #e1786a;
@btn_orange:  #ecbc95;
@btn_orange2: #edaa72;



@ltc_color_blue:  #006b91;
@ltc_color_blue_dark: #006384;