#primary-footer-container {
  border-top: 1px solid #ccc;
  padding-bottom: 50px;
  background-color: #f9f9f9;
  padding-top: 20px;
  min-width: 960px;
  display: block;
}

#primary-footer-container #primary-footer {
  width: 940px;
  margin: 0 auto;
  clear: both;
}

.secondary-accepted-cards {
  display: inline;
  float: left;
}

#primary-footer-container .footer-section-container {
  display: block;
  float: right;
} 

@media only screen and (max-width: 75.385em) {
  #primary-footer-container {
      min-width: 0;
      height: 2.5em;
  }
  #primary-footer-container #primary-footer {
    width: 92%;
  }
}
  @media only screen and (max-width: 44em) {
     #primary-footer-container #primary-footer {
      width: 46%;
    } 
  }

  @media only screen and (max-width: 25em) {
     #primary-footer-container #primary-footer {
      width: 90%;
    } 
  }