#primary-header .header-section-container {
	width: 940px; 
  	margin: 0 auto;
  	border-bottom: none;
  	min-width: inherit;
  	overflow: hidden;
}

#top-level-navigation {
  	border-bottom: 1px solid @grey5;
    padding: 7px 0;
    margin-bottom: 19px;
    background: #f9f9f9;
}
.primary-brand {
	top: 0;
	img {
		margin-left: 0;
		margin-top: 0;
	}	
}
.site-header__secure {
	img {
		margin-left: 10px;
	}
}

.primary-service-links {
	float: right;
}
.icon-phone {
  background-image: url("/assets/img/icons.png");
  margin-right: 5px;
  background-position: -180px -3px;
  height: 24px;
  vertical-align: top;
  width: 27px;
	&:before {
		display: none;
	}
}
.header-section-a {
	float: left;
}
.header-section-b {
  margin-top: 22px;
  float: right;
}
.primary-phone p {
  font-size: 16px;
  font-weight: 700;
  color: #656565;
  margin-bottom: 0px;
  text-align: right;
  margin: 0 0 16px;
  line-height: 1.5em;
}
.checkout-steps {
  font-size: 0.91em;
}
.checkout-steps li.active {
  border-bottom: 4px solid#d93101;
}