[class^="icon-"], [class*=" icon-"], .indicator {
    background-image: none;
    background-position: none;
    background-repeat: none;
    display: inline-block;
    height: inherit;
    line-height: 1;
    vertical-align: middle;
    width: inherit;
    margin: 0 0.385em;  
}
.icon-gift {
	background-image: url("/assets/eci/img/icono-regalo.png");
	background-position: 0 0;
	height: 3.000em;
	width: 3.000em;
	margin-right: 0px !important;
}

.icon-twitter{
    color: @white80;
    &:before {
        content: "\e615";
        font-family: moonshine-font;
        font-size: 1em;
        line-height: 0.9;
        vertical-align: top;
        font-style: normal;;
        float: left;
        margin-top: 0.538em;
    }
    &:hover{
        color: #55acee;
    }
}

.icon-facebook{
    color: @white80;
    &:before {
        content: "\e608";
        font-family: moonshine-font;
        font-size: 1em;
        line-height: 0.9;
        vertical-align: top;
        font-style: normal;
        float: left;
        margin-top: 0.538em;
    }
    &:hover{
        color: #3b5998;
    }
}

.icon-credit{
    background-image: url("/assets/eci/img/sprite-card.svg");
}

.icon-left-medium {
  display: none;
}

 .icon-right-medium {
  display: none;
}
.checkout-address-cards li.add-new-address .personal-details i {
    display: block;
    height: inherit;
    max-height: none;
    width: inherit;
}
.icon-plus.address-card__new-icon:before {
    content: "\e621";
    font-family: moonshine-font;
    font-size: 5.385em;
    font-style: normal;
    font-weight: 500;
}

.icon-phone:before {
    content: "\f095";
    font-family: moonshine-font;
    font-size: 1.2rem;
    line-height: 0.9;
    vertical-align: top;
}

.icon-help:before {
    content: "\e627";
    font-family: moonshine-font;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
}

.icon-edit:before {
    content: "\e627";
    font-family: moonshine-font;
    font-size: 1.538em;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
}

.icon-gift {
    content: "\e627";
    font-family: moonshine-font;
    font-size: 1em;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    width: 3.077em !important;
}


.icon-delete:before {
    content: "\f014";
    font-family: moonshine-font;
    font-size: 1rem;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    margin-top: -3px;
}
.icon-delete{
    margin: 0 0.3em !important;
}

.icon-modificar:before {
    content: "\e636";
    font-family: moonshine-font;
    font-size: 1rem;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    margin-right: -0.231em !important;
    width: auto !important;
    margin-top: -3px;
}

/*pago confirmation*/

#credit-debit{
    border-radius: 0;
    padding: 0;
    width: 99.8%;
    .control-label{
        font-size: 1em;
        width: auto;
    }
    .only-desktop{
        display: none;
    }
    fieldset{
        padding: 15px;
    }
    .extra-info{
        width: auto;
    }
}


#eci-card, #eci-card-advance{
    padding: 0;
    width: 99.8%;
    p{
        font-size: 1em;
        width: auto;
    }
    .checkout-payment-eci-card-form{
        padding: 15px;
    }
    fieldset{
        padding: 15px;
    }
    .controls label{
        font-size: inherit;
    }
}


#eci-card, #paypal, #eci-card-advance{
    border-radius: 0;
    background: #fafafa;
}

.icon-checkout-confirm-print:before{
    content: "\f02f";
    font-family: moonshine-font;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
}

[class^="icon-"], [class*=" icon-"], .indicator{
    width: auto;
    margin: 0 0.538em;
}

.primary-phone{
    .phone-number{
        font-size: 1em;
        font-weight: 500;
    }
}

.icon-printer-large, span.icon-printer-large{
    background-image: none;
    display: none;
}

.checkout-confirm-order-number{
    width: auto;
}
.icon-close {
    background-image: url("/assets/eci/img/icons.png");
    height: 35px;
    width: 35px;
    &:hover {
        background-position: -410px -74px;
    }
}
.indicator {
    display: none;
}

.form__input--custom-radio-alt:checked ~ .toggle-form__title{
    color: @white50;
    font-weight: 700;
}

/* acordeones de pago*/

