.gradient-button-green {
	background-color: #098800;
	background-image: -moz-linear-gradient(top, #c2e879, #098800);
	background-image: -ms-linear-gradient(top, #c2e879, #098800);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c2e879), to(#098800));
	background-image: -webkit-linear-gradient(top, #c2e879, #098800);
	background-image: -o-linear-gradient(top, #c2e879, #098800);
	background-image: linear-gradient(top, #c2e879, #098800);
	background-repeat: repeat-x;
	filter: "progid:DXImageTransform.Microsoft$gradient(startColorstr=$startColor, endColorstr=$endColor, GradientType=0)";
	border-color: #098800 #098800 #087400;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) fadein(rgba(0,0,0,0.1), 15%);
	filter: "progid:DXImageTransform.Microsoft$gradient(enabled = false)";
	border: 1px solid #ccc;
	border-color: #8bba2f;
	border-radius: 4px;
	font-family: 'Open Sans Semibold';
	&:hover {
		background-color: #008c2e !important;
	}
}
