

.checkout-payment-apply-promos{
    .form-horizontal{
        .form{
            &__item{
                /*padding-top: 0;*/
                &__labels-tarjet{
                	.tarjet{
                		 width: 59%;
  						float: left;
                	}
                }
            }
        }

        .controls{
            #frm-coupon-code{
                width: 78%;
            }
            #frm-gift-card{
                width: 55%;
            }
        }
    }
}