@media only screen and (max-width: 75.385em) {
	.form-actions.choice .up-success {
	  margin-bottom: 1.154em;
	  margin-top: 1em;
	  width: 33.2%;
	}	
}
@media only screen and (max-width: 61.538em) {
	.span12 .up-success, .form-actions.choice .down-success {
	  padding: 0.538em 6%;
	}	
}
@media only screen and (max-width: 44.615em) {
	.span12 .up-success {
    	min-width: 38%;
    }
}	
@media only screen and (max-width: 36.923em) {
    #billing-sms .fields input#otherPhoneSMS {
        height: 2.369em;
    }

}
@media only screen and (max-width: 30.769em) {
	.btn.btn-success {
	  width: 50%;
	  padding: 0.8em 1em;
	  font-size: 0.8em;
	}
	.modal-footer .btn.btn-success {
	  padding: 0.7em 1em;
	}
	.form-actions.choice .down-success {
	  padding: 0.7em 4%;	
	}
}
@media only screen and (max-width: 25.769em) {
	.order-detail {
		&__delivery {
			&__box-billing {
				font-size: 0.87em;
			}
		} 
	}
}
