.main-header{
  padding-top: 0;
  border:0;
  h1 {
  margin-top: 0;
  }
  .vp {
    padding:0;
  }
}
.drilldown-btn {
  margin-top: 14px;
}
.account-nav li {
  text-align: center;
  width: 20%;
}
.header-help2 {
  position:fixed;
  top:0;
  left:0;
  background-color:fade(@white, 99%);
  padding: 8px 1em;
  box-sizing: border-box;
  z-index: 9999999;
  float: none;

}
.header-help3 {
  padding: 66px 1em 0;
  box-sizing: border-box;
}
.account-nav{
  text-align: left;
  a {
    margin:0 5px 0 0;
  }
  .txt {
    display: none;
  }
}
.burger-txt {display: none;}
.to-cart-touch {
  position:absolute;
  top:20px;
  right:1em;
  text-decoration: none;
  font-size: .8em;
}
.search-form {
  max-width: 100%;
  width: 100%;
  margin: .8em 0;
}
.to-cart-touch .icon {
  margin-right: 6px
}
.to-cart-touch.hidden, .search.hidden,  {display: block;}
.search-form.hidden,.cart.hidden  {display: none;}