
#zoom-area {
  display: none;
}

#zoom-output {
  display: none;
}

#modal-viewport {
  margin-left: 0;
  left:0;
  top:0;
}

#modal, #modal iframe {
  width: 100%;
  height:100%;
}

#zoom-in-button {
  display: none;
}
body.modal-fixed {overflow:hidden;}
#modal.facets-modal {
  height:100%;
  width: 100%;
  margin-top:0;
  margin-left:0;
  left:0;
  top:0;
  padding: 0;
}
#modal.facets-modal #modal-controls {
  position: fixed;
  top:0;
  right: 1em;
  z-index: 20;
}
#modal.facets-modal #modal-content {
  .flow-y;
  height:100%;
  width: 100%;
  padding:0 1em 2em;
}
#modal.facets-modal #modal-close {
  margin-right: 1em;
  padding-top:.2em;
}
