.container {
  position:static;
}
#main {
  position: relative;
  z-index: 30;
  clear: both;
  background-color: @white;
  -moz-transition: -moz-transform ease .5s;
  -o-transition: -o-transform ease .5s;
  -webkit-transition: -webkit-transform ease .5s;
  transition:transform ease .5s;
  &.main-unfolded {
    -moz-transform: translateX(77%);
    -o-transform: translateX(77%);
    -webkit-transform: translateX(77%);
    transform: translateX(77%);
  }
}
.main-nav-help1 {
  overflow: hidden;
  width: 77%;
  height: 100%;
  -o-transform:   translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform:  translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -o-transition: transform ease .5s;
  -moz-transition: transform ease .5s;
  -ms-transition: transform ease .5s;
  -webkit-transition: transform ease .5s;
  transition: -webkit-transform ease .5s;
  transition: transform ease .5s;
  background-color: @touch_menu_bg_clr;
  .main-nav-help2 {
    position:absolute;
    left: 0;
    top:0;
    width: 100%;
    font-size: 1.2em;
    background-color: @touch_menu_bg_clr;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    border:0 none;
    border-bottom: 1px solid @touch_menu_br_clr;
    -o-transition: transform 0ms ease-in-out;
    -moz-transition: transform 0ms ease-in-out;
    -ms-transition: transform 0ms ease-in-out;
    -webkit-transition: transform 0ms ease-in-out;
    transition: -webkit-transform 0ms ease-in-out;
    transition: transform 0ms ease-in-out;
    .pad {
      display: none;
    }
  }
  &.unfolded {
    -o-transform:   translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform:  translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition-delay: 0;
    visibility: visible;
  }
  .to-open:after {
    top:16px;
  }
}

.main-nav {
  margin-top: 0em;
  width: auto;
  > li {
    height:auto;
    padding: 0;
    background: @touch_menu_bg_clr;
    width:100%;
    overflow: hidden;
    > a {

      width: 85.1%;
      color:@touch_menu_clr;
      background: @touch_menu_bg_clr;
      border:0 none;
      border-bottom: 1px solid @touch_menu_br_clr;

    }
    > .to-open:after {
      content: "\e620";
      right:18px;
      top:16px;
      font-size: 1.2em;

    }
    &:hover > .to-open:after {
      transform:none;
      color:@link_color;
    }
    a {
      font-size:0.8em;
      text-decoration:none;
      display:block;
      padding: .9em 1em 1em 3em;
      width:100%;
      height: 48px;
    }
    &:hover > a {background-color: @touch_menu_bg_clr;}
    &:hover .main-nav-lvl2 {
      left: 0;
    }
    &.tap .main-nav2n {
      left: 0;
      opacity: 1;
      box-shadow: none;
    }
    &.tap > .to-open:after {
      transform:rotate(45deg);
    }
  }
}

.main-nav-lvl2 {
  left: 0em;
  height: auto;
  opacity: 1;
  visibility: visible;
  display: block;
  background-color: @touch_submenu_bg_clr;
  position: relative;
  padding:0;
  .main-nav-help3 {
    display: block;
    background: transparent;
    padding: 0;
    > li {
      width: 100%;
      > a {
        font-size: .8em;
        color: @white;
        border: 0 none;
        font-weight: normal;
        padding: .6em 1em 1em 3em;
        border-bottom: 1px solid @touch_menu_br_clr;
      }
    }
  }
}
.main-nav-help3 {
  float:none;
  padding: 0;
}
.main-nav-lvl2 a {
  padding: .7em 1em;
  width:100%;
}
.main-nav-lvl3{
  padding: 0;
  a {
    background-color: #bcbcbc;
    color: #3e3e3e;
    border-bottom: 1px solid #d6d6d6;
  }
}

//show hide
.nav2 ul, .main-nav ul {display: none;}
.tap > ul, .unfolded .nav2-lvl1, .tap > li  ul, .tap .prices-phone.hidden {display: block;}
.tap > h4:after, .tap > h5:after, .nav2-ctrl.active:after {
  transform:rotate(45deg);
}

// secondaries menu
//resets
.nav2-lvl1,.nav2-lvl1 li,.nav2-lvl1 li h4, .nav2-lvl1 li ul, .nav2-lvl1 li ul li, .nav2-lvl1 li ul li ul, .nav2 ul li {margin:0;}
.nav2 ul {padding:0}
.nav2 h4 {margin-bottom:0;}

.nav2 h4, .nav2 h5, .nav2-ctrl, .to-open, .nav2 a {
  position:relative;
  cursor: pointer;
  width:100%;
  min-height:48px;
  display: block;
  
}
.nav2 h4:after, .nav2 h5:after, .nav2-ctrl:after, .to-open:after {
  position:absolute;
  content: "\e620";
  display: block;
  right: 18px;
  top:18px;
  font-size: 1.2em;
  line-height:1em;
  .icon;
}
.nav2.unfolded {
    height: auto;
}
.nav2-ctrl, .nav2-lvl1 li h4, .nav2-lvl1 li a, .nav2-lvl2 li h5 {
  padding: 1em 1em 1em 3em;
  text-align:left;
  color: @white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.3em;
  font-weight: normal;
}
.footer .nav2-lvl1 li a {
  font-size: 1em;
  &:hover {
    text-decoration:none;
    color:@white95;
  }
}
.nav2-ctrl {
  background-color: @touch_menu_bg_clr;
  cursor: pointer;
  font-size:1em;
}
.nav2-lvl1 {
  background-color:@touch_submenu_bg_clr;
  li h4, li a {
      color: @white;
      border-bottom:1px solid @touch_menu_br_clr;
      background-color:@touch_submenu_bg_clr;
  }
}

.nav2-lvl2 li a,.nav2-lvl2 li h5 {
  background-color: #bcbcbc;
  border-bottom:1px solid #d6d6d6;
  color:#757676;
}
.nav2-lvl3 li a{
  background-color: #d6d6d6;
  border-bottom:1px solid #ededed;
}

//help section
.help-menu {
  margin-bottom:1.5em;
}
.nav2 a.nav2-close{
  z-index:999;
  position:fixed;
  top:70px;
  width:auto;
  background-color:@white;
  left:22px;
  font-family: arial, sans-serif;
  padding:1px;
  font-size: 1.6em;
  min-height:0;
}
.nav2 a.nav2-close.hidden {display: none;}

