@import url('base-blessed1.css?z=1406545228183');

#basket-alternatives th,
#basket-alternatives td {
    vertical-align:top;
    padding:8px;
    text-align: center;
}
#basket-alternatives td
{
   border-bottom:1px solid #aaa;
}

#basket-alternatives td.offerPricexxdfd
{
   color:red;
}

#basket-alternatives th
{
    text-transform: uppercase;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block {
  font-size: 11px;
  color: #fff;
  padding: 5px;
  display: block;
  border-right: solid 1px #333;
  border-bottom: solid 1px #333;
  cursor: pointer;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
  border-right: none;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
/*background: #333;*/
  background: #666;
  background: rgba(102,102,102,0.7);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(102,102,102,0.7)), to(rgba(50,50,50,0.6)));
  background: -webkit-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
  background: -moz-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
  background: -o-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
  background: -ms-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
  background: linear-gradient(rgba(102,102,102,0.7), rgba(50,50,50,0.6));
  filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666,endColorstr=#323232)";
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {
  font-size: 12px;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 3px 0;
  line-height: 12px;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {
  font-size: 12px;
  line-height: 12px;
  margin: 3px 0 4px 0;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mejs-captions-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
/*font-weight: bold;*/
  line-height: 22px;
  font-size: 12px;
  color: #fff;
}
.mejs-captions-layer  a {
  color: #fff;
  text-decoration: underline;
}
.mejs-captions-layer[lang=ar] {
  font-size: 20px;
  font-weight: normal;
}
.mejs-captions-position {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
}
.mejs-captions-position-hover {
  bottom: 45px;
}
.mejs-captions-text {
  padding: 3px 5px;
  background: url("/assets/img/background.png");
  background: rgba(20,20,20,0.8);
}
.mejs-clear {
  clear: both;
}
.me-cannotplay a {
  color: #fff;
  font-weight: bold;
}
.me-cannotplay span {
  padding: 15px;
  display: block;
}
.mejs-controls .mejs-loop-off button {
  background-position: -64px -16px;
}
.mejs-controls .mejs-loop-on button {
  background-position: -64px 0;
}
.mejs-controls .mejs-backlight-off button {
  background-position: -80px -16px;
}
.mejs-controls .mejs-backlight-on button {
  background-position: -80px 0;
}
.mejs-controls .mejs-picturecontrols-button {
  background-position: -96px 0;
}
.mejs-contextmenu {
  position: absolute;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  top: 0;
  left: 0;
  background: #fff;
  border: solid 1px #999;
  z-index: 1001;
/* make sure it shows on fullscreen */
}
.mejs-contextmenu .mejs-contextmenu-separator {
  height: 1px;
  font-size: 0;
  margin: 5px 6px;
  background: #333;
}
.mejs-contextmenu .mejs-contextmenu-item {
  font-family: Helvetica, Arial;
  font-size: 12px;
  padding: 4px 6px;
  cursor: pointer;
  color: #333;
}
.mejs-contextmenu .mejs-contextmenu-item:hover {
  background: #2c7c91;
  color: #fff;
}
.mejs-controls .mejs-sourcechooser-button {
  position: relative;
}
.mejs-controls .mejs-sourcechooser-button button {
  background-position: -128px 0;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector {
  visibility: hidden;
  position: absolute;
  bottom: 26px;
  right: -10px;
  width: 130px;
  height: 100px;
  background: url("/assets/img/background.png");
  background: rgba(50,50,50,0.7);
  border: solid 1px transparent;
  padding: 10px;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none !important;
  overflow: hidden;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li {
  margin: 0 0 6px 0;
  padding: 0;
  list-style-type: none !important;
  display: block;
  color: #fff;
  overflow: hidden;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input {
  clear: both;
  float: left;
  margin: 3px 3px 0 5px;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label {
  width: 100px;
  float: left;
  padding: 4px 0 0 0;
  line-height: 15px;
  font-family: helvetica, arial;
  font-size: 10px;
}
.mejs-postroll-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/img/background.png");
  background: rgba(50,50,50,0.7);
  z-index: 1000;
  overflow: hidden;
}
.mejs-postroll-layer-content {
  width: 100%;
  height: 100%;
}
.mejs-postroll-close {
  position: absolute;
  right: 0;
  top: 0;
  background: url("/assets/img/background.png");
  background: rgba(50,50,50,0.7);
  color: #fff;
  padding: 4px;
  z-index: 100;
  cursor: pointer;
}
@-moz-keyframes buffering-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 30px 0;
  }
}
@-webkit-keyframes buffering-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 30px 0;
  }
}
@-o-keyframes buffering-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 30px 0;
  }
}
@-ms-keyframes buffering-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 30px 0;
  }
}
@keyframes buffering-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 30px 0;
  }
}
body {
  background: #f6f6f6;
  color: #757676;
  overflow-x: hidden;
  margin: 0;
}
[data-update] {
  display: inline;
/*
    .enhanced & {
        display: none;
    }
    */
}
img {
  vertical-align: middle;
}
li {
  list-style: none;
}
ul.list-style {
  list-style: disc;
  margin-left: 20px;
}
ul.list-style li {
  list-style: disc;
}
a:hover {
  text-decoration: underline;
}
h2 .print {
  float: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
.jump-links {
  list-style: none;
  margin: 0;
  padding: 10px;
  background: #f5f5ff;
  overflow: hidden;
  border-top: 1px solid #ccf;
  border-bottom: 1px solid #ccf;
}
.jump-links li {
  margin: 0 5px;
  padding: 0;
  float: left;
}
/* Utilities */
.information {
  color: #048349;
}
.information.secondary {
  color: #0382ac;
}
/* Header */
#top-level-navigation {
  padding-bottom: 0px;
  background-color: #f0f0f0;
  margin-bottom: 35px;
  min-width: 960px;
  padding: 4px 0px;
}
.auth-menu__link{
  color: #b3b3b3;
}

#top-level-navigation .top-level-container {
  margin: 0 auto;
  width: 940px !important;
  overflow: auto;
}
#top-level-navigation .top-level-container .sub-container {
  width: 500px;
  float: right;
  text-align: right;
  color: #b3b3b3;
}
/* Footer */
#primary-footer-container {
  *zoom: 1;
  background-color: #e9e9e9;
  padding-bottom: 20px;
  min-width: 960px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
#primary-footer-container:before,
#primary-footer-container:after {
  display: table;
  content: " ";
}
#primary-footer-container:after {
  clear: both;
}
#primary-footer-container #primary-footer {
  width: 940px;
  margin: 0 auto;
  clear: both;
}
#primary-footer-container #primary-footer .footer-section-a {
  float: right;
  text-align: left;
}
#primary-footer-container #primary-footer .footer-section-b {
  *zoom: 1;
  clear: both;
}
#primary-footer-container #primary-footer .footer-section-b:before,
#primary-footer-container #primary-footer .footer-section-b:after {
  display: table;
  content: " ";
}
#primary-footer-container #primary-footer .footer-section-b:after {
  clear: both;
}
#primary-footer-container #primary-footer .footer-section-b .sub-section {
  margin-top: 10px;
  width: 365px;
  float: right;
}
#primary-footer-container.secure {
  background-color: #e9e9e9;
  padding: 5px 0px 20px 0px;
  border-top: none;
}
#primary-footer-container.secure .footer-section-container {
  width: 600px;
  margin-bottom: 25px;
}
#primary-footer-container.secure h5,
#primary-footer-container.secure .footer-section-title {
  margin-bottom: 10px;
  color: #757676;
  font-size: 16px;
  line-height: 16px;
  display: block;
}
#primary-footer-container.secure .footer-section-container {
  float: left;
}
#secure-header {
  margin: 0 auto 30px auto;
  /*width: 940px !important;*/
  padding: 0;
  position: relative;
  z-index: 1000;
  height: auto;
}
#secure-header .header-section-container {
  *zoom: 1;
  margin-bottom: 20px;
  border-bottom: none;
}
#secure-header .header-section-container:before,
#secure-header .header-section-container:after {
  display: table;
  content: " ";
}
#secure-header .header-section-container:after {
  clear: both;
}
#secure-header .header-section-container .secure-checkout i {
  margin: 5px 10px 0px 20px;
}
#secure-header .header-section-container .secure-checkout span {
  font-weight: bold;
  vertical-align: bottom;
  font-size: 13px;
}
#secure-header .header-section-container .header-section-b {
  *zoom: 1;
  margin-top: 22px;
  float: right;
}
#secure-header .header-section-container .header-section-b:before,
#secure-header .header-section-container .header-section-b:after {
  display: table;
  content: " ";
}
#secure-header .header-section-container .header-section-b:after {
  clear: both;
}
/* End of footer */
#primary-header .header-section-container {
  border-bottom: 1px solid #eee;
  min-width: 960px;
  padding: 0;
  position: relative;
  z-index: 1000;
}
#primary-header .header-section-container .top-level-container {
  margin: 0 auto;
  width: 940px !important;
}
#primary-header .header-section-container .top-level-container .header-section-container {
  *zoom: 1;
  margin-bottom: 15px;
}
#primary-header .header-section-container .top-level-container .header-section-container:before,
#primary-header .header-section-container .top-level-container .header-section-container:after {
  display: table;
  content: " ";
}
#primary-header .header-section-container .top-level-container .header-section-container:after {
  clear: both;
}
#primary-header .header-section-container .top-level-container .header-section-container .container {
  margin-top: 7px;
}
#primary-header .header-section-container .top-level-container .header-section-a {
  *zoom: 1;
  margin-bottom: 15px;
}
#primary-header .header-section-container .top-level-container .header-section-a:before,
#primary-header .header-section-container .top-level-container .header-section-a:after {
  display: table;
  content: " ";
}
#primary-header .header-section-container .top-level-container .header-section-a:after {
  clear: both;
}
#primary-header .header-section-container .top-level-container .header-section-b {
  *zoom: 1;
}
#primary-header .header-section-container .top-level-container .header-section-b:before,
#primary-header .header-section-container .top-level-container .header-section-b:after {
  display: table;
  content: " ";
}
#primary-header .header-section-container .top-level-container .header-section-b:after {
  clear: both;
}
/* End of header */
#primary-main {
  background-color: #fff;
  display: block;
  margin: 0;
  padding-bottom: 50px;
}
ul.layout-items-container > li {
  width: 50%;
  border-bottom: none;
  padding: 0;
}
ul.layout-items-container > li img {
  max-width: 100%;
}
ul.layout-items-container > li .tile-product {
  margin-right: 10px;
}
ul.layout-items-container > li .tile-product h4 {
  margin-bottom: 10px;
}
ul.layout-items-container > li .tile-product p {
  margin: 0;
}
ul.layout-items-container > li .tile-product .price-was,
ul.layout-items-container > li .tile-product .price-save,
ul.layout-items-container > li .tile-product .rating {
  display: none;
}
.nav-mega-drop {
  background: #f2f2f2;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top: 5px solid #999;
  border-bottom: 1px solid #999;
  display: none;
  padding-bottom: 40px;
  z-index: 1000;
}
#primary-content {
  margin: 0 auto 0 auto;
  width: 940px !important;
}
body.js-breadcrumbs #primary-content {
  padding-top: 42px;
}
.product-detail .tab-content .tab-pane {
  display: none;
}
.product-detail .tab-content .tab-pane.active {
  display: block;
}
.product-detail .nav-header a[href="#tab2"] {
  display: none;
}
.tab-box .tab-pane p,
.tab-box .tab-pane li {
  font-size: 13px;
  line-height: 18px;
}
.tab-box .tab-pane h2 {
  display: block;
}
.tab-box .tab-pane.full .description-content p {
  padding: 0;
  margin-bottom: 15px;
  line-height: 1.3;
}
.tab-box .tab-pane.full .description-content ul {
  margin-bottom: 15px;
  line-height: 1.3;
  font-family: "Open Sans Regular", Arial, sans-serif;
}
.tab-box .tab-pane.full .description-content li {
  margin-bottom: 15px;
}
.box {
  border: 1px solid #ccc;
  padding: 20px;
}
.box h2 {
  font-size: 18px;
}
/* Login register */
.login.box {
  margin-left: 140px;
}
.form-errors.login li {
  margin-left: 25px;
}
.form-errors.login li:before {
  background: url("/assets/eci/img/icons.png") -300px -35px no-repeat;
  content: " ";
  display: inline-block;
  height: 16px;
  width: 16px;
  float: left;
  margin-left: -25px;
}
.login.box,
.register.box {
  position: relative;
  min-height: 280px;
}
.login.box p,
.register.box p {
  font-size: 14px;
  line-height: 18px;
}
.login.box a,
.register.box a {
  font-size: 12px;
  color: #0382ac;
  display: block;
}
.login.box .btn,
.register.box .btn {
  margin-top: 15px;
  position: absolute;
  bottom: 16px;
  right: 18px;
}
.login.box .btn i,
.register.box .btn i {
  margin-right: 0;
  margin-left: 8px;
}
.login.box label.checkbox,
.register.box label.checkbox {
  margin-top: 5px;
}
.login.box input.error,
.register.box input.error {
  color: #757676;
}
/* Generic modal styles */
.modal {
  display: none;
}
.modal-overlay {
  z-index: 1300;
  background: rgba(0,0,0,0.75);
}
.modal-wrapper {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  background-color: #757676;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  *border: 1px solid #999;
/* IE6-7 */
  border: 10px solid #757676;
  outline: none;
  z-index: 1500;
}
.modal-wrapper.overflow-y {
  padding-bottom: 10px;
}
.modal-wrapper.overflow-y .modal-body {
  position: relative;
  top: 10px;
  overflow-y: scroll;
  max-height: 100%;
  padding: 0;
}
.modal-wrapper.overflow-y .modal-content {
  margin: 20px;
}
.numero-sn {
  left: 340px;
  padding-top: 8px;
}
.numero-sn label {
  margin: 0 0 0 20px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.numero-sn .controls {
  margin: 0 0 0 73px;
}
.numero-sn .frm-sn {
  margin: 2px 0 0 20px;
  display: inline-block;
}
.control-group.inline-block .sub-group.numero-sn .controls {
  float: right;
}
.modal-close {
  position: absolute;
  right: -25px;
  top: -25px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  z-index: 1500;
  cursor: pointer;
}
.modal-body {
  background-color: #fff;
  padding: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.modal-body h2 {
  line-height: 18px;
  margin-bottom: 20px;
}
.modal-body p:last-child {
  margin-bottom: 0px;
}
.modal-footer {
  *zoom: 1;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 20px 30px;
  position: relative;
}
.store-locator .modal-footer {
    margin-top: 20px;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.modal-footer:after {
  clear: both;
}
.modal-footer label.checkbox {
  position: absolute;
  right: 125px;
  top: 27px;
  font-size: 14px;
}
.modal-footer .cancel {
  float: left;
}
.modal-footer .btn-success {
  float: right;
}
.modal-footer-compact {
  background-color: #fff;
  padding: 0px 30px 30px 30px;
}
.modal-footer-compact .btn {
  margin-right: 15px;
}
.modal-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 5px solid #fff;
}
.modal-content .heading {
  margin: 0;
  font-weight: normal;
  color: #333;
  text-rendering: optimizelegibility;
  line-height: 16px;
  font-size: 14px;
}
/* HTML5 number field fallback styles */
.number-spin-btn-container {
  display: inline-block;
  *display: inline;
/* IE7 inline-block hack */
  *zoom: 1;
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #fff, #efefef);
  background-image: -ms-linear-gradient(top, #fff, #efefef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fff, #efefef);
  background-image: -o-linear-gradient(top, #fff, #efefef);
  background-image: linear-gradient(top, #fff, #efefef);
  background-repeat: repeat-x;
  filter: "progid:DXImageTransform.Microsoft$gradient(startColorstr=$startColor, endColorstr=$endColor, GradientType=0)";
}
.number-spin-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 23px;
  height: 14px;
  overflow: hidden;
  text-indent: 100%;
}
.number-spin-btn:hover {
  cursor: pointer;
}
.number-spin-btn:active,
.number-spin-btn:focus {
  background-color: #ededed;
}
.number-spin-btn-up {
  background: transparent url("/assets/eci/img/arrow-up.png") no-repeat 50% 80%;
}
.number-spin-btn-down {
  background: transparent url("/assets/eci/img/arrow-down.png") no-repeat 50% 20%;
}
.checkout-page h2 {
  font-size: 24px;
}
.checkout-page p.description {
  margin-bottom: 30px;
  line-height: 17px;
  margin-right: 60px;
}
.checkout-page a.info {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  float: none;
  margin-left: 10px;
}
.checkout-page .field-group-errors.positioned .help-block {
  margin-left: 0;
}
.checkout-page a.print {
  margin-right: 0;
  float: right;
  color: #757676;
  font-size: 14px;
  position: relative;
  right: auto;
}
.checkout-page .help-block.pin {
  margin-left: 210px;
}
.checkout-page select {
  height: 35px;
  float: left;
}
.checkout-page .select-wrap {
  clear: both;
}
.checkout-page select.saved-address {
  width: 200px;
  margin: 0 0 10px 30px;
  display: block;
}
.checkout-page #billing-select-address {
  clear: both;
}
.checkout-page .delivery-details {
  width: auto;
  margin-bottom: 25px;
}
.checkout-page .delivery-details .frm-house-number,
.checkout-page .delivery-details .frm-sn {
  width: auto;
}
.checkout-page .delivery-details .warning-notice {
  width: 453px;
  margin-top: 50px;
}
.checkout-page .delivery-details fieldset.separate {
  width: 640px;
}
.checkout-page .delivery-details .form-horizontal .control-group {
  width: 620px;
}
.checkout-page .payment-details {
  margin-bottom: 50px;
}
.checkout-page .payment-details .frm-house-number,
.checkout-page .payment-details .frm-sn {
  width: auto;
}
.checkout-page .payment-details .frm-sn {
  margin-top: 10px;
}
.checkout-page .payment-details .fields {
  width: 100%;
  margin-bottom: 20px;
  float: left;
}
.checkout-page .payment-details .fields .controls label {
  display: inline-block;
  width: auto;
  float: none;
  padding-left: 20px;
}
.checkout-page .form-horizontal .control-group.inline .sub-group,
.checkout-page .form-horizontal .control-group.inline-block .sub-group {
  float: left;
}
.checkout-page .form-horizontal .control-group.inline .sub-group.mini,
.checkout-page .form-horizontal .control-group.inline-block .sub-group.mini {
  max-width: 90px;
}
.checkout-page .form-horizontal .control-group.inline .sub-group.small,
.checkout-page .form-horizontal .control-group.inline-block .sub-group.small {
  max-width: 125px;
}
.checkout-page .form-horizontal .control-group.inline .sub-group.medium,
.checkout-page .form-horizontal .control-group.inline-block .sub-group.medium {
  max-width: 195px;
}
.checkout-page .form-horizontal .control-group.inline .sub-group.appended label[for="frm-sn"],
.checkout-page .form-horizontal .control-group.inline-block .sub-group.appended label[for="frm-sn"] {
  float: right;
  margin-top: 0;
  margin-left: 10px;
}
.checkout-page .form-horizontal .control-group.inline .sub-group.appended #frm-sn,
.checkout-page .form-horizontal .control-group.inline-block .sub-group.appended #frm-sn {
  margin-left: 20px;
  float: left;
}
.checkout-page .form-horizontal .control-group.inline .sub-group .help-block,
.checkout-page .form-horizontal .control-group.inline-block .sub-group .help-block {
  margin-left: 0px;
}
.checkout-page .form-horizontal .control-group.inline .radiogroup .errors-list,
.checkout-page .form-horizontal .control-group.inline-block .radiogroup .errors-list {
  margin-left: 0px;
  clear: left;
}
.payment-details-guest-delivery-summary {
  border-bottom: 1px dotted #e3e3e3;
  margin-bottom: 10px;
  margin-top: 15px;
  clear: both;
}
.payment-details-guest-delivery-summary.last {
  border: 0;
}
.payment-details-guest-delivery-summary .delivery-address {
  padding-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}
.payment-details-guest-delivery-summary .delivery-address span {
  font-weight: normal;
}
@-moz-document url-prefix() {
  .product-list-view-ordering .filters .sort-by select {
    background: #fff;
    padding-right: 4px;
  }
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.skip {
  text-align: center;
  width: inherit;
}
.skip a,
.skip a:hover,
.skip a:visited {
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 2px 6px;
  border: 1px solid #eee;
  background: #333;
  color: #fafafa;
  display: inline-block;
}
.skip a:active,
.skip a:focus {
  position: static;
  width: auto;
  height: auto;
}
.dfn-link {
  position: relative;
  text-decoration: none;
  cursor: help;
}
.dfn-link:hover .dfn-tooltip,
.dfn-link.active .dfn-tooltip {
  top: 15px;
  left: 50%;
}
.dfn-link:hover .dfn-tooltip.arrow-top-right,
.dfn-link.active .dfn-tooltip.arrow-top-right {
  left: auto;
  right: 50%;
}
.dfn-link .dfn-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 999;
  text-align: center;
}
.dfn-link .dfn-tooltip:hover,
.dfn-link .dfn-tooltip.js-access-hook {
  left: 50%;
  top: 15px;
}
.dfn-link .dfn-tooltip .dfn-hover {
  width: 200px;
  display: block;
  position: relative;
  left: -50%;
  padding: 10px;
}
.dfn-link .dfn-tooltip .dfn-hover .dfn-content {
  display: block;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  margin: 1px;
  font-size: 11px;
  -webkit-box-shadow: 0 0 10px #666;
  -moz-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
}
.lt-ie8 .dfn-link .dfn-tooltip .dfn-hover .dfn-content {
  border-top: 2px;
}
.dfn-link .dfn-tooltip .dfn-hover .dfn-content:before {
  position: absolute;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0,0,0,0.2);
  margin-left: -10px;
  left: 50%;
  top: -10px;
  content: '';
}
.dfn-link .dfn-tooltip .dfn-hover .dfn-content:after {
  position: absolute;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
  border-left: 9px solid transparent;
  margin-left: -9px;
  left: 50%;
  top: -9px;
  content: '';
}
.dfn-link .dfn-tooltip .dfn-hover .dfn-content .tip-header {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #fefefe, #e8e8e8);
  background-image: -ms-linear-gradient(top, #fefefe, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #fefefe, #e8e8e8);
  background-image: -o-linear-gradient(top, #fefefe, #e8e8e8);
  background-image: linear-gradient(top, #fefefe, #e8e8e8);
  background-repeat: repeat-x;
  filter: "progid:DXImageTransform.Microsoft$gradient(startColorstr=$startColor, endColorstr=$endColor, GradientType=0)";
  color: #333;
  line-height: 38px;
  font-size: 14px;
  text-transform: none;
  padding: 0 9px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.dfn-link .dfn-tooltip .dfn-hover .dfn-content .dfn-body {
  padding: 5px 10px;
}
.dfn-link .dfn-tooltip .dfn-hover .dfn-content .dfn-body a {
  cursor: pointer !important;
}
.dfn-link .dfn-tooltip.arrow-top-right .dfn-hover {
  left: auto;
  right: -46px;
}
.dfn-link .dfn-tooltip.arrow-top-right .dfn-hover .dfn-content:before {
  left: auto;
  right: 24px;
}
.dfn-link .dfn-tooltip.arrow-top-right .dfn-hover .dfn-content:after {
  left: auto;
  right: 25px;
}
.dfn-link .dfn-tooltip.arrow-top-left .dfn-hover {
  left: -46px;
}
.dfn-link .dfn-tooltip.arrow-top-left .dfn-hover .dfn-content:before {
  left: 24px;
}
.dfn-link .dfn-tooltip.arrow-top-left .dfn-hover .dfn-content:after {
  left: 25px;
}
.carousel .promotion .dfn-link:hover .dfn-tooltip,
.carousel .additional .dfn-link:hover .dfn-tooltip {
  bottom: 15px;
  width: 218px;
  height: auto;
  position: relative;
}
.carousel .promotion .dfn-link:hover .dfn-tooltip {
  left: -10px;
}
.carousel .additional .dfn-link:hover .dfn-tooltip {
  left: -30px;
}
.carousel .product-tile .promotion .dfn-link .dfn-tooltip .dfn-hover,
.carousel .product-tile .additional .dfn-link .dfn-tooltip .dfn-hover {
  width: 309px;
  display: block;
  position: absolute;
  padding: 10px;
  bottom: 25px;
  left: 0;
}
.carousel .product-tile .promotion .dfn-link.offset-tooltip .dfn-hover,
.carousel .product-tile .additional .dfn-link.offset-tooltip .dfn-hover {
  left: 0;
}
.carousel .product-tile .additional .dfn-link .dfn-tooltip .dfn-hover .dfn-content:before,
.carousel .product-tile .promotion .dfn-link .dfn-tooltip .dfn-hover .dfn-content:before {
  position: absolute;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 0px solid #ccc;
  border-top: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-top-color: rgba(0,0,0,0.2);
  margin-left: -10px;
  left: 50%;
  bottom: -10px;
  top: auto;
  content: '';
}
.carousel .product-tile .additional .dfn-link .dfn-tooltip .dfn-hover .dfn-content:after,
.carousel .product-tile .promotion .dfn-link .dfn-tooltip .dfn-hover .dfn-content:after {
  position: absolute;
  display: inline-block;
  border-right: 9px solid transparent;
  border-top: 9px solid #fff;
  border-bottom: 0px solid #fff;
  border-left: 9px solid transparent;
  margin-left: -9px;
  left: 50%;
  bottom: -9px;
  top: auto;
  content: '';
}
.base-tooltip {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 300px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  -webkit-box-shadow: 0 0 15px #444;
  -moz-box-shadow: 0 0 15px #444;
  box-shadow: 0 0 15px #444;
}
.base-tooltip h5 {
  color: #f34;
  font-size: 14px;
  margin-bottom: 10px;
}
.base-tooltip .tooltip-title {
  color: #f34;
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  line-height: 16px;
  font-weight: bold;
  display: block;
}
.base-tooltip p {
  font-size: 14px;
}
.base-tooltip a {
  font-size: 12px;
  color: #2a96b9;
}
.base-tooltip i.arrow {
  position: absolute;
  bottom: -14px;
  left: 142px;
  width: 22px;
  height: 16px;
  background: url("/assets/eci/img/ltc_compareselectmax_arrow.png");
}
.product-listing-filter-header .clear-filter,
.product-listing-filter-group .clear-filter {
  color: #6d6d6d;
  font-size: 11px;
  float: right;
  padding-right: 20px;
  background: transparent url("/assets/eci/img/clear-icon.png") right center no-repeat;
}
.product-listing-filter-header .clear-filter:hover,
.product-listing-filter-group .clear-filter:hover {
  text-decoration: none;
  cursor: pointer;
}
.smart_autocomplete_container {
  padding: 0 4px 14px 5px;
  border: 1px solid #ddd !important;
  margin-top: 18px;
  background: #fff;
}
.smart_autocomplete_container li {
  font-size: 13px;
  margin: 0 -4px 0 -5px;
  padding: 3px 10px;
}
.smart_autocomplete_container li.title {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  font-weight: bold;
  font-size: 14px;
}
.smart_autocomplete_container li.title:first-child {
  margin-top: 0;
  border: 0;
}
.smart_autocomplete_container li.category {
  margin-left: 20px;
}
/* Colors for demoing positions
    #primary-content { background: lighten(#e33, 40%);}
    #primaryAside { background: lighten(#33e, 40%);}

*/
span.compare-checkbox {
  display: none;
}
.delivery-information-block .heading {
  display: block;
  margin: 20px 0 27px 0;
  font-weight: bold;
  color: #333;
  text-rendering: optimizelegibility;
  line-height: 16px;
  font-size: 18px;
}
.pickup {
  background: url("/assets/eci/img/shipping-options-sprite.png") 0px 0px no-repeat;
  cursor: pointer;
}
.pickup.opencor {
  background-position: 0px 0px;
}
.pickup.instore {
  background-position: 0px 0px;
}
.icon-wishlist-default[class^="icon-"],
.icon-wishlist-default[class*=" icon-"] {
  background-position: 4px -60px;
}
.icon-right-info {
  background-position: -123px -19px;
}
.icon-warning {
  background-position: -295px -80px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.icon-printer {
  width: 27px;
  height: 20px;
  background-position: -380px -85px;
}
.icon-remove {
  width: 15px !important;
  height: 15px !important;
  background-position: -410px -60px !important;
}
.pick-up-options {
  background: url("/assets/eci/img/shipping-options-sprite.png") 0px 0px no-repeat;
  display: block;
  cursor: pointer;
}
.type-1.pick-up-options {
  background-position-y: 0px;
}
.type-2.pick-up-options {
  background-position-y: -142px;
}
a.print {
  color: #757676;
  font-size: 11px;
  position: absolute;
  right: 0;
  top: 0;
}
.search-result-title {
  display: block;
  margin: 10px 0 10px;
  font-weight: normal;
  color: #333;
  text-rendering: optimizelegibility;
  font-size: 18px;
  line-height: 32px;
}
.warning-notice {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #d11b43;
  padding: 20px;
  background-color: #f9f8f8;
  margin-bottom: 20px;
  margin-top: 30px;
}
.warning-notice span {
  color: #d11b43;
}
.warning-notice p {
  margin: 16px 0px 0px 0px;
}
.warning-notice p:first-child {
  margin-top: 0px;
}
.address-cards {
  *zoom: 1;
  margin-bottom: 20px;
}
.address-cards:before,
.address-cards:after {
  display: table;
  content: " ";
}
.address-cards:after {
  clear: both;
}
a.delivery-info {
  font-size: 12px;
  color: #0382ac;
}
/* Promotions */
.marker-free,
.marker-promo {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  *display: inline;
/* IE7 inline-block hack */
  *zoom: 1;
}
.marker-free {
  background-color: #ac2053;
}
.marker-promo {
  background-color: #6ca007;
}
.promo-choice {
  min-height: 210px;
  border: 1px solid #ccc;
  background: #fafafa;
}
.enhanced .promo-choice.single .btn {
  display: none;
}
.promo-choice .heading [class^="marker-"] {
  margin-right: 10px;
}
.promo-choice .heading h2 {
  display: inline-block;
  *display: inline;
/* IE7 inline-block hack */
  *zoom: 1;
  margin-right: 10px;
}
.promo-choice.gift-selection .layout-items-container {
  margin-left: 0px;
}
/* Buying Guides */
.buying-guides {
  margin-top: -10px;
}
.buying-guides h1 {
  margin-top: 25px;
}
.buying-guides .wide {
  margin-top: 0;
  min-height: 420px;
  padding: 40px 0 0 30px;
}
.buying-guides .wide img {
  left: 50%;
  margin-left: -640px;
  position: absolute;
  top: 0;
}
/* Form notes */
.mandatory {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 11px;
}
.buying-guide-link {
  color: #0382ac;
  display: block;
  margin: -10px 0 15px;
}
.span4 .layout-items-1 {
  overflow: hidden;
}
.non-js-hide {
  display: none;
}
/* post ECI code requirements 13-05-14 */
.comparison-container {
  margin-left: 480px;
}
.floating {
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #ccc;
  background-color: #fff;
  z-index: 2000;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.layout-currently-on-air .product-tile .frm-add-to-basket {
  margin-top: 37px;
}
.description-content {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
}
/* post ECI code reqs 13-06-14 */
.is-sticky .product-comparison-panel {
  position: fixed;
  top: 10px;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #ccc;
  background-color: #fff;
  z-index: 2000;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.is-sticky .product-comparison-panel .comparison-display {
  right: 1px;
}
/* < IE9 Specific styles */
.lt-ie9 .pag-dots ul li {
  position: relative;
  *display: inline;
/* IE7 inline-block hack */
  *zoom: 1;
}
.lt-ie9 .html-promo-join-mailing-list .input-append input {
  width: 100px;
}
.lt-ie9 .modal-overlay {
  background: #000;
  filter: "alpha(opacity=50)";
}
.lt-ie9 .button input {
  background-image: url("/assets/eci/img/transparent.gif");
  overflow: hidden;
  text-indent: -9999px;
}
.lt-ie9 input.add-item-to-order {
  text-indent: -9999px;
}
/* IE7 Specific styles */
.lt-ie8 .radio input[type="radio"].error,
.lt-ie8 .checkbox input[type="checkbox"].error {
  margin-left: -40px;
  zoom: 1;
  display: inline;
}
.lt-ie8 .input-append input {
  margin: 0;
}
.lt-ie8 .primary-header .primary-phone {
  overflow: visible;
}
.lt-ie8 .tab-pane {
  clear: both;
}
.lt-ie8 .primary-navigation .primary-navigation-item,
.lt-ie8 .product-detail .components ul li,
.lt-ie8 div.number-spin-btn-container,
.lt-ie8 .html-promo p,
.lt-ie8 .pricing-product-detail .pricing p {
  *display: inline;
/* IE7 inline-block hack */
  *zoom: 1;
}
.lt-ie8 .primary-navigation .primary-navigation-link {
  float: left;
}
.lt-ie8 .primary-navigation .primary-navigation-item .nav-panel {
  top: 100%;
}
.lt-ie8 div.number-spin-btn {
  background-position: 3px 5px;
  border: 0;
}
.lt-ie8 button.btn {
  border: 1px solid #eee;
}
.lt-ie8 .product-tile .price-now,
.lt-ie8 .product-tile .price-was {
  *display: inline;
/* IE7 inline-block hack */
  *zoom: 1;
  display: inline;
}
.lt-ie8 .product-tile .additional {
  height: 75px;
}
.lt-ie8 .product-detail .components {
  float: none;
}
.lt-ie8 .product-detail .components ul li {
  display: inline;
}
.lt-ie8 .pag-dots li {
  float: left;
}
.lt-ie8 .primary-signup .input-append input,
.lt-ie8 .primary-search .input-append input,
.lt-ie8 .html-promo-join-mailing-list .input-append input {
  margin-left: 0;
  margin-top: 1px;
}
.lt-ie8 .top-level-category-side-panel ol {
  padding-left: 22px;
}
.lt-ie8 .primary-breadcrumb {
  margin-bottom: 10px;
}
.lt-ie8 .hero-tile-type1 .promo-info .prom-price {
  margin-bottom: 50px;
}
.lt-ie8 .modal-overlay {
  background: #000;
  filter: "alpha(opacity=50)";
}
.lt-ie8 #primary-header {
  margin-bottom: 0;
}
.lt-ie8 .control-group .sub-group .errors-list {
  margin-left: 0px;
}
.lt-ie8 .layout.state-list-view .layout-items-1.tile-product-type-c,
.lt-ie8 .layout.state-grid-view .layout-items-3.tile-product-type-c {
  width: 720px;
}
.lt-ie8 .layout .layout-items-4 .layout-item-container {
  width: 24%;
}
.lt-ie8 .product-list-view-ordering .filters .switch-layout .view-type .btn.grid {
  background-image: url("/assets/eci/img/grid-symbol.png");
  background-repeat: no-repeat;
  background-position: 10px 50%;
}
.lt-ie8 .product-list-view-ordering .filters .switch-layout .view-type .btn.list {
  background-image: url("/assets/eci/img/list-symbol.png");
  background-repeat: no-repeat;
  background-position: 10px 50%;
}
.lt-ie8 .sku-selector select {
  width: 380px;
}
fieldset#saved-store .control-group {
  float: left;
}
fieldset#saved-store ul.pickupLocation li {
  margin-bottom: 5px;
}
fieldset#saved-store ul.pickupLocation li .indicator {
  display: none;
}
fieldset#saved-store ul.pickupLocation .errors {
  font-size: 11px;
  color: #c00;
  float: none;
  clear: both;
}
fieldset#saved-store .frm-delivery-pickup {
  float: right;
  width: 420px;
}
fieldset#saved-store .frm-delivery-pickup .control-group .control-label {
  display: block;
  float: none;
  width: auto;
  text-align: left;
  margin-left: 30px;
}
fieldset#saved-store .frm-delivery-pickup .control-group .controls {
  margin-left: 30px;
}
fieldset#saved-store .frm-delivery-pickup .control-group .controls input[type="text"] {
  width: 325px;
}
fieldset#saved-store .frm-delivery-pickup .control-group .controls .radio {
  margin-left: -30px;
}
/* IE9 Specific styles */
.ie9 .pag-dots ul li {
  margin-top: -24px;
}
.lt-ie8 .product-list-view-ordering .filters .sort-by select,
.lt-ie9 .product-list-view-ordering .filters .sort-by select,
.ie9 .product-list-view-ordering .filters .sort-by select {
  background: #fff;
  padding-right: 4px;
  margin-top: 8px;
}
.lt-ie8 .pag-dots ul {
  margin-top: -15px;
}
.lt-ie8 .pag-dots ul li {
  margin-top: 0px;
}
@-moz-document url-prefix() {
  .product-list-view-ordering .filters .sort-by select {
    background: #fff;
    padding-right: 4px;
  }
}
/*no-js secific styles*/
.no-js .product-tile-title-holder {
  height: auto;
  overflow: visible;
}

