#product-images img {width:100%;}
#product-images .alternate {margin-right:0;}
#product-images .alternate img {margin-right: 2%;}
#product-images .alternate li:nth-child(4n+4) img {margin-right: 0;}
#shipping_and_returns {width: 96%; padding:2%; margin-bottom:2em;}
#product-details .price-phone {
  text-align: center;
  background-color:@white95;
  margin-top: .4em;
  padding: .29em 0;
  .product-price {margin-top:0;}
}