.cat-title.hidden {
  display: block;
  margin-top:0;
  border-bottom: 0;
  font-size: 1.2em;
  &:after {
    display: none;}
  &.active {
    background-color: @grey;
    color:@white;
  }
}
.filt-title {
  .top;
  .right;
  height: 48px;
  font-size: .9em;
  font-family: Lato, arial, sans-serif;

}
.filt-title, .cat-title.hidden{
  width:48%;
  text-align: center;
  text-transform: uppercase;
  background-color: @white99;
  color: @white25;
  padding:18px 0 0;
  border-bottom:1px dashed @white80;
}
#price-slider-container {display:none;}
nav {
  #filters {margin:0}
  .dimensions {
    .facet-collapsed {
      display: block;
    }
    &.facet-folded {
      display: none;
    }
    &.facet-folded {
      display: none;
    }
  }
  sup {
    display:none;
  }
}

.sliding-collapsed {
  margin-bottom: 0;
  ul {
    visibility:visible;
    opacity:1;
    position: initial;
  }
}
#mdl-result {
  overflow: visible;
  height:100%;
}
#mdl-selection {
  width: 100%;
  position: relative;
  #mdl-input-out {
    margin-top: 10px;
    width: 100%;
  }
  #mdl-selection-out {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 1.2em 1em;
    z-index:75;
  }
  #mdl-selection-in {
    background-color: @white;
    padding-bottom: 1.2em;
  }
  #mdl-selected {
    margin-top: 89px;
    min-height:35px;
    height: auto;
    overflow: hidden;
  }
}
#mdl-select {
  font-family: Lato, arial, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
}
#mdl-title {
  margin:4px 0 3px 5px;
}
.abc-box h3 {
  width: 13%;
}
.abc-box-e {
  width: 29%;
  a {
    font-size: .9em;
    padding-left:.4em;
    margin: 0 0 1em 0;
  }
  span {font-size: 1em;}
}
#mdl-url-filter {
  margin-top: 0;
  position:fixed;
  bottom:1em;
  right:1em;
}
