input[type="button"], input[type="reset"], a.btn, .btn {
  display: inline-block;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  background: @white75;
  font-size: .9em;
  color: @white90;
  text-transform: uppercase;

  .icon {
    margin-right: .5em;
  }
  &:hover {
    background: @white25;
  }

  &:hover {
    background-color: @white;};
  &.btn-green{
    color: @white;
    background: @brand_color2;
    border: none;
    &:hover {background-color: @brand_color;};
  }
   &.btn-grey{
    color: @white;
    background: @white90;
    &:hover {background-color: @white75;};
  }
  &.btn-white{
    color: @white50;
    border: 1px solid @white75;
    background: @white;
    &:hover {background-color: @white95; color: @white25;};
  }
  &.btn-blue{
    color: @white;
    background: @btn_blue;
    &:hover {background-color: @btn_blue2;};
  }
  &.btn-orange{
    color: @white;
    background: @btn_orange;
    &:hover {background-color: @btn_orange2;};
  }
  &.btn-red{
    color: @white;
    background: @manager_color;
    &:hover {background-color: @btn_red2;};
  }
  &.btn-sm{
    padding: .4em .9em;
  }
  &.btn-xs{
    padding: 0.3em .5em;
  }
  &.btn-bg {
    padding:1em 1em;
    font-size: 1em;
    margin-top: 1em!important;
  }
}

.btn-group{
  a.btn{
    margin-right: 1em;
    display: inline-block;
  }
}

.alert{  
  padding: 10px;
  border-radius: 3px;
  margin: 10px 0px;
  box-sizing: border-box;

  &.alert-sm{
    font-size: 14px;
    padding: 5px 10px;
  }

  &.alert-info{
    background-color: #E9F5D7;
    border: 1px solid #C7E49A;
    color: #89A75C;    
  }
  &.alert-warning{
    background-color: #FFE8E8;
    border: 1px solid #DFABAB;
    color: #CE5B5B;    
  }
}

.fright {
  float: right;
}

.fleft{
  float: left;
}