#sitemanager-artworks{
  .picture-search{
    margin-left: .5em;
  }
  #pictures-cmslist{
    .scrollable{
      overflow: scroll;
      height: 500px;
    }
    .cmslist .items li{
      display: inline-block;
      vertical-align: top;
      width: 19%;
      img{
        max-width: 100%;
        max-height: 12em;
      }
      p.name{
        margin-bottom: .2em !important;
      }
      p.description{
        font-size: .8em;
        color: @white80;
        margin-bottom: 1em;
      }
    }
  }
}