#menu-view ul {
  li {
    margin-left: 2em;

		.arrows {
			display: inline;
			position: absolute;
			left: -3em;
		} 
  }

  div.row-selected{
		background: rgba(137, 137, 137, 0.5);
		padding-top: 0.4em;
		border-radius: 0.4em;
	}

	input{
		width: 1.5em;
	}

	span.location{
		float:right;
	}
}

