.modal-gallery img.selected { display: block; border: 1px solid #ccc; width: 100% }
.modal-gallery .alternate-images { position: absolute; background: #eee; left: 1.6em; top: 41px }
.modal-gallery .alternate-images li { display: block }


#modal-controls { text-align: right }
#modal-viewport {
  position: absolute;
  left: 48%;
  margin-left: -480px;
  top: 15%;
}
#modal-viewport.fixed { position: fixed }
#modal-fog.hidden { background-color: rgba(0,0,0,0); display: block; z-index: -1 }
#modal-fog { position: fixed; z-index: 9000011; top: 0; left: 0; background-color: rgba(0,0,0,.5); width: 100%; height: 100%; .transition(all .2s linear) }
#modal {
  position: relative;
  z-index: 9000012;
  padding: 0 1.5em 1.5em;
  border: 1px solid #666;
  background: #fff;
  box-shadow: 0 1em 2em rgba(0,0,0,.5);
  &.fixed {
    position: fixed;
  }
}
#modal iframe { display: block; margin: 0 auto; background: #fff; border: none}
#modal, #modal iframe { width: 960px }
#modal iframe {
  height: 450px;
  .transition(all .7s ease-in-out);
  margin-top: 3em;
}
#modal iframe.folded { height: 0px; padding: 0}
#modal-message {
  float: left;
  margin-top: .8em;
  span {
    background: url("images/spinner.gif") no-repeat top left;
    text-indent: -9000px;
    display: block;
    width: 30px;
    height: 30px;
  }
}
#modal-close {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
  float: right;
  margin: 1em 1.5em 0 0;
  font-size: 1em;
  span {
    background: url(images/x.png) no-repeat;
    display: block;
    width: 13px;
    height: 13px;
  }
} 