#sitemanager-pictures{
  .secondary{
    p.name{
      margin-bottom: .2em !important;
    }
    p.description{
      font-size: .8em;
      color: @white80;
      margin-bottom: 1em;
    }
    .cmslist{    
      .preview{
        width: 50%;
        img{
          max-width: 100%;
          max-height: 10em;
        }
      }
      .options{
        width: 50%;
        clear: none !important;
        text-align: left !important;
        li{
          border-left: none !important;
          padding-left: 1em !important;
        }
      }
    }
  }
}
