#sitemanager-placements{
	.compolist{
		.add-composition{
			margin: 25px 0px;
		}
    table{
      width: 100%;
    }
	}
	#composition-cmslist{
		.scrollable{
      overflow: scroll;
      height: 500px;
    }
    .cmslist .items li{
      display: inline-block;
      vertical-align: top;
      width: 32%;
      .template{
        float: right;
      }
      img{
        width: 100%;
      }
      p.name{
        margin-bottom: .2em !important;
      }
      p.description{
        font-size: .8em;
        color: @white80;
        margin-bottom: 1em;
      }
      a.add{
				text-decoration: none;
				color: #661;
				margin-right: .5em;
      }
      .options li{
        width: auto;
      }
    }
	}
}
