 #sitemanager-routes{
 		#route-category{
 			overflow: scroll;
    	height: 40em;
    	a{
    		text-decoration: none;
				color: black;
    	}
    	input{
    		width:120px;
    		float:right;
    	}

    	.modal-list{
	 			margin-left:2em;
	 			display: block;
	 			height: 2.5em;
	 			.toggle::before {
					content: "- ";
				}

				.toggle.folded::before {
					content: "+ ";
				}
	 		}
 		}
}


