.enhanced {
	.address-saved{
		margin: 0 !important;
	}
	.checkout-payment-choices{
		.payment-array{
			//display: inherit;
		}
		.label-type-paypal{
			float: none;
			display: block;
		}
	}

	.checkout-address-cards{
		margin: 0 0 1.538em -1.462em;
		li{
			float: left;
			margin: 0px 0 3.5em 1.5em;
			width: 13.99em;
			padding: 0.769em;
			border: 0.077em solid @white80;
			padding: 0;
			&:first-of-type {
				.footer {
					width: 100%;
				}
			}
			.personal-details {
				text-align: left;
				height: 100%;
				min-height: auto;
				position: relative;
				border: none;
				background: @white;
				min-height: 16em;
				padding: 10px;
				&:hover{
					background:@white100;
				}
				.name{
					font-size: 1em;
					text-transform: capitalize;
					margin-bottom:1em;
					min-height: 7.5em;
					display: block;
					font-weight: bold;
					line-height: 22px;
					.nameAdd{
						text-transform: uppercase;
						border-bottom: 0.077em solid @white80;
						text-transform: uppercase;
						padding-left: 1em;
						min-height: 3em;
						display: block;
						margin-bottom: 1em;
					}
				}
				label{
				    display: block;
					width: 100%;
					height: 100%;
				    position: absolute;
					left: 0;
				    top: 0;
					font-weight: normal;
					font-size: 0.9em;
					box-sizing: border-box;
					padding-left: 0.7em;
					padding-top: 0.9em;
					margin: 0;

					span{
						font-weight: bold;
					}
				    &:hover {
				    	cursor: pointer;
				    }
				}
				.pickupLocation {
					label {
						position: inherit;
						font-weight: normal;
						font-size: 0.9em;
						margin: 28px 0 0 0;
						width: 100%;
						height: 100%;
						position: inherit;
						padding-top: 0;
					}
				}
				.adr{
					span{
						display: block;
						font-size: 1em;
						line-height: 18px;
					}
				}
			}
			.footer{
				width: 100%;
				border-top: 0.077em solid@white80;
				padding: 10px 0;
				text-align: center;
				display: inline-block;
				border-radius: 0;
				background-image: none;
				i{
					color: @white50;
				}
				a{
					display: inline-block;
					font-size: 12px;
					color: #757676;
				}
				input.link-style {
					color: @white50;	
				}
			}	
		}
		li.deleteable{
			.footer{
				width: 50%; 
			}
		}
		li.pickupLocation{
			background-color: none;
			background: none;
			 .personal-details{
			 	min-height: 12em;
			 	.section{
			 		height: auto !important;
			 		.name{
			 			min-height: 0em;
			 			width: auto;
			 		}
			 	}
			 	
			 	.pickupLocation{
			 		margin: 20px 0 0 0;
					width: auto;
					padding-left: 0;
					label.radio{
						padding-left: 0;
					}
					input{
						margin: 2px;
						margin-left: 3px;
					}
			 	}
		 	} 
		}
		.selected {
			background:@white100;
			border:0.077em solid #e0e0e0;
			color: @white20;
			.name.address-card__name {
				color:@white20;
			}

			.footer {
				border-top: 0.077em solid @white25;
				i{
					color: @white25;
				}

			}
		}
		
		.add-new-address {
			padding-top: 0.154em;
			width:  13.99em;
			border: 0.077em solid @white80;
			padding: 0px;
			overflow: hidden;
			.personal-details {
				padding-top: 0em;
				padding: .38em;
				height: 129px;
				a {
					text-decoration: none;
					margin-top:4.5em;
					float: left;
					width: 100%;
					display: block;
				}
			}
			.footer {
				width:auto;
				background-color: @white100;
				padding: 0.706em 1.154em;
			}
		}
		li.selected {
			.personal-details {
					background: none;
					border: none;
			}
		}
		li.row-start {
			clear: none;
		}
	}

	.address-card {
		&__new-icon {
			text-align: center;
		}
	}

	.hover{
		background: @white100;
	}

	.enhanced .checkout-address-cards li .footer a{
		display: inline-block;
		margin-top: 0.077em;
	}
}

.cp-address{
	float:left;
	margin-right: 10px;
}

.census-msg{
	display: none;
}
.enhanced .checkout-address-cards li:first-of-type.add-new-address .footer {
	width: 90%;
	padding: 0.6em 5% 0.6em 5%;
}
.content-unavailable-address-link {
	position: relative;
}