/*base-blessed*/
label textarea,
label select {
  display: block;
}
input.btn-action {
  display: block;
}
.enhanced input.btn-action {
  display: none;
}
.no-js input[type="submit"].no-js-link-style {
  border: 0px;
  background: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 11px;
  color: #006b91;
  text-decoration: none;
}
input.link-style[type="submit"] {
  background: none;
  border: 0;
  color: #0382ac;
  padding: 0;
  font-size: 11px;
}

.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.form-search label,
.form-inline label,
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  display: inline-block;
}
.form-search .input-append .add-on,
.form-inline .input-prepend .add-on,
.form-search .input-append .add-on,
.form-inline .input-prepend .add-on {
  vertical-align: middle;
}
.control-group.inline:before,
.control-group.inline-block:before,
.control-group.inline:after,
.control-group.inline-block:after {
  display: table;
  content: " ";
}
.control-group.inline:after,
.control-group.inline-block:after {
  clear: both;
}

.form-actions.choice .btn-success {
  float: right;
}
.form-actions.choice .paypal-checkout {
  float: right;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: " ";
}
.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal.checkout .control-group.inline {
  display: inline-block;
}
.nolabel {
  margin-left: 0px;
}
.nolabel .payment-option label.hidden {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin-right: 0;
}
div.ajax-loading {
  background: url("/assets/eci/img/ajax-loader.gif") 50% 50% no-repeat;
  border: none;
  height: 25px;
  width: 25px;
  top: 50%;
  left: 50%;
  position: absolute;
}
div.ajax-loading.main {
  position: fixed;
}
.ajax-loading.checkout-confirm {
  top: 25%;
  left: 55%;
}
.no-js .js-unpopulated-selectors {
  display: none;
}
.button {
  position: relative;
}
.button input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: transparent;
  background: none;
  display: block;
  overflow: hidden;
  line-height: -999em;
}
.button.hide-icon i {
  display: none;
}

.btn-group + .btn-group {
  margin-left: 5px;
}
.no-js .tab-content > .tab-pane {
  display: block;
}

.hide-js {
  display: block;
}
.enhanced .hide-js {
  display: none;
}
.invisible {
  visibility: hidden;
}

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
  *display: inline;
/* IE7 inline-block hack */
  *zoom: 1;
}
.no-js iframe {
  display: none;
}
.no-js-iframe-image {
  display: block;
}
.basket-summary .header:before,
.basket-summary .header:after {
  display: table;
  content: " ";
}
.basket-summary .header:after {
  clear: both;
}

.no-js .checkout-payment-choices .payment-option.active {
  display: block;
}
.no-js .checkout-payment-choices .payment-option.active .js-form-block {
  display: none;
}
.no-js .checkout-payment-choices .payment-option.active .js-form-block input.choice {
  display: none;
}
.no-js .checkout-payment-choices .payment-option.active .payment-choice-active {
  display: block;
}
.no-js .checkout-payment-choices .payment-option.active + .payment-choices-nojs {
  display: none;
}
.enhanced .checkout-payment-choices .payment-choices-nojs {
  display: none;
}
.checkout-payment-choices .payment-choices-nojs {
  border: 1px solid #ccc;
  border-width: 1px 0;
}
.checkout-payment-choices .payment-choices-nojs li {
  margin-bottom: 10px;
}
.checkout-payment-choices .radiogroup label {
  float: left;
}
.checkout-payment-choices .radiogroup label .indicator.error {
  margin-top: 2px;
}
.checkout-payment-choices .radiogroup input[type="radio"]:focus {
  outline: #888 solid 1px;
}
.checkout-payment-choices .radiogroup input[name="pay-type"] + i.indicator.valid {
  display: none;
}
.checkout-payment-choices .gift-receipt .btn-action {
  display: none;
}
.checkout-payment-choices ul.payment-option .btn-nonjs-payment {
  display: none;
}
.enhanced .checkout-payment-choices .payment-array {
  display: none;
}
.checkout-payment-choices .payment-array .controls {
  display: inline-block;
}
.checkout-payment-choices .payment-array legend + .control-group {
  margin-top: 5px;
}
.checkout-payment-choices .payment-array legend + .control-group .help-block {
  display: block;
  margin-left: 0;
}
.checkout-payment-choices .payment-array small.info {
  margin-left: 0;
}
.checkout-payment-choices.no-js label,
.checkout-payment-choices.no-js img,
.checkout-payment-choices.no-js span.help-block {
  display: none;
}
.checkout-payment-choices.no-js .control-group ul.payment-option .js-form-block .btn-nonjs-payment,
.checkout-payment-choices.no-js .control-group ul.payment-option .unavailable .btn-nonjs-payment {
  display: inline-block !important;
  min-width: 200px;
  padding: 7px 15px;
}
.checkout-payment-choices.no-js .control-group ul.payment-option .js-form-block .js-form-collapsible,
.checkout-payment-choices.no-js .control-group ul.payment-option .unavailable .js-form-collapsible {
  margin-bottom: 20px !important;
}
.checkout-payment-choices.no-js .control-group ul.payment-option .js-form-block .js-form-collapsible .control-group,
.checkout-payment-choices.no-js .control-group ul.payment-option .unavailable .js-form-collapsible .control-group {
  margin-bottom: 20px;
}
.checkout-payment-choices.no-js .control-group ul.payment-option .js-form-block .js-form-collapsible legend,
.checkout-payment-choices.no-js .control-group ul.payment-option .unavailable .js-form-collapsible legend {
  position: relative;
  overflow: visible;
  width: auto;
  margin: 0;
  clip: auto;
  height: auto;
  margin-bottom: 15px;
}
.checkout-payment-choices.no-js .control-group ul.payment-option .js-form-block .js-form-collapsible label,
.checkout-payment-choices.no-js .control-group ul.payment-option .unavailable .js-form-collapsible label,
.checkout-payment-choices.no-js .control-group ul.payment-option .js-form-block .js-form-collapsible img,
.checkout-payment-choices.no-js .control-group ul.payment-option .unavailable .js-form-collapsible img,
.checkout-payment-choices.no-js .control-group ul.payment-option .js-form-block .js-form-collapsible span.help-block,
.checkout-payment-choices.no-js .control-group ul.payment-option .unavailable .js-form-collapsible span.help-block,
.checkout-payment-choices.no-js .control-group ul.payment-option .js-form-block .js-form-collapsible .gift-receipt input[type="checkbox"],
.checkout-payment-choices.no-js .control-group ul.payment-option .unavailable .js-form-collapsible .gift-receipt input[type="checkbox"] {
  display: inline-block;
}
.checkout-payment-choices.no-js .payment-array {
  display: block;
}
.checkout-payment-choices.no-js .gift-receipt {
  border-top: 1px solid #e3e3e3;
  padding: 10px 0 10px 15px;
  margin-top: 25px;
}
.checkout-payment-choices.no-js .gift-receipt .input {
  margin-top: 10px;
  display: inline-block;
}
.checkout-payment-choices.no-js .gift-receipt label {
  margin: 10px 0 0 30px;
  display: inherit;
  float: none;
}
.checkout-payment-billing-summary ul:before,
.checkout-payment-billing-summary ul:after {
  display: table;
  content: " ";
}
.payment-step.checkout-confirm-product-list .products .product .item-description {
  width: auto;
}
.checkout-callout-gift a.btn {
  display: none;
}
.enhanced .checkout-callout-gift a.btn {
  display: block;
}
.checkout-callout-gift input.btn {
  display: block;
}
.enhanced .checkout-callout-gift input.btn {
  display: none;
}
.js .alternative-image-tile {
  margin-bottom: 0;
}
.only-out-desktop {
    display: none;
}
.only-desktop {
    display: block;
}


/*base*/
#top-level-navigation .top-level-container {
  margin: 0 auto;
  overflow: auto;
}

#secure-header .header-section-container:before,
#secure-header .header-section-container:after {
  display: table;
  content: " ";
}
#secure-header .header-section-container:after {
  clear: both;
}
/* Generic modal styles */
.modal {
  display: none;
}
.modal-overlay {
  z-index: 1300;
  background: rgba(0,0,0,0.75);
}
.modal-wrapper {
  background-color: #fff;
  z-index: 1500;
}
.modal-wrapper.overflow-y {
  padding-bottom: 10px;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.skip {
  text-align: center;
  width: inherit;
}
.skip a,
.skip a:hover,
.skip a:visited {
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 2px 6px;
  border: 1px solid #eee;
  background: #333;
  color: #fafafa;
  display: inline-block;
}

/*no-js secific styles*/
.no-js .product-tile-title-holder {
  height: auto;
  overflow: visible;
}