article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio {
  display: none;
}
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  overflow-x: hidden;
}
html {
  -ms-text-size-adjust: 100%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]{
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
ul, ol, ul ul, ul ol, ol ol, ol ul{
  margin: 0;
  padding: 0;
}

li {
  line-height:1em;
}
em {
  font-style: italic;
}
ul li {
  list-style: none;
}
ol {
  list-style: decimal;
}
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}
/*anchos contenedores*/
#top-level-navigation .top-level-container {
	width: 92.3em !important;
}
#secure-header {
	width: 92.3em !important;
}	
#primary-content {
  margin: 0 auto 0 auto;
  width: 92.3em !important;
}
.span12, .container {
  width: 92.3em;
}
.span8 {
  width: 61.2em;
}
.span4 {
  width: 29.5em;
}
.primary-copyright div {
  width: 92.3em;
}
.info-notice span {
	margin-left: 0;
}
body{
	color: @white50;
	font-family: 'Open Sans' !important;
	font-size: 13px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

a {
  color:@white50;
  text-decoration: none;
  &:hover{
  	color:@white20;
  }
}
form {
  margin: 0;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

h1, h2, h3{	
	font-family: 'latoregular' !important;

}
h2{
	line-height: 1.692em;
}

h6 {
  color:@white50;
}

small {
  color:@white50;
}
pre{
	color:@white50;
}

.checkout-page{
	p.description{
		text-align: left;
		margin-right: 0;
		margin-bottom: 30px;
	}

}


p{
	font-family: 'Open Sans' !important;
	margin: 0 0 1em;
	font-size: 1em;
}

.checkout-confirm-square{
	border: 0.077em solid @white90;
	padding: 0.769em;
	text-align: center;
	margin-bottom: 2.308em;
	
	.checkout-confirm-print-txt{
		height: 2.692em;
	}
	
	h3{
		text-transform: uppercase;
		font-size: 1.154em;
		font-size: 1.154em;
	}
}

.checkout-page {
	.checkout-confirm-print{
		float: right;
		a.print{
			color:@white50 ;
			float: none;
			font-size: 1em;
		}
	}
}
h4{
	font-size:1em;
}
h1, h2, h3, h4, h5, h6{
	color: @white25;
}
p{
	line-height: 1.4em;
}
.checkout-payment-billing-summary ul li span{
	font-weight: normal;
	text-transform: uppercase;
	float: left;
}

.control-group input, .control-group select {
	margin-bottom: 0.385em;
	padding: 7px;
}
.controls input[type="text"],
.controls input[type="password"],
.controls select,
.controls textarea,
.controls option {
  padding: 7px;
}
legend + .control-group {
  margin-top: 22px;
  -webkit-margin-top-collapse: separate;
}
legend + .control-group.no-leader {
  margin-top: 0;
}
select {
	background-color: @white;
	border-radius: 0px  !important;
	-webkit-border-radius: 0px 0px 0px 0px !important;
	-moz-border-radius:0px !important;
}
.auth-menu__link{
	text-decoration: none !important;
	font-weight: 500;
}

label{
	cursor: pointer;
} 
.cc-supercor {
	color: @sts-opencor !important;
	font-weight: 700 !important;
}
.cc-eci {
	color: @sts-eci !important;
	font-weight: 700 !important;
}
.basket-summary .content .delivery-group .delivery span.cc-supercor {
    color: @red_color;
    display: inline;
    text-transform: uppercase;
    font-weight: 700;
}
.display-active{
	display: block !important;
}
.floatL{
	float: left;
}
.floatR{
	float: right;
}
.floatN{
	float:none;
}
.paddingL10{
	  padding-left: 10px;
}

.primary-service-links li a {
	text-decoration: none;
}

.disable{
	&:hover{
        background-color: @eci_color2 !important;
        background: @eci_color2;
    }
}
.txtred{
	color:red;
}

.ckeck-terminos-disable{
	display: none;
}
.form_error_checked{
	display: none;
}
.tab-store-result {
	a.act-store{
		border-bottom: 5px solid @white80;
		color: @white25;
	}
}



a.delivery-info{
	font-size: 1em;
	color:@white50;
	padding-top: 0.5em;
	float: left;
	&:hover{
		text-decoration: underline;
	}
}

.marginL0{
	margin-left: 0em !important;
}

.svg-object{
	width: 182px;
	overflow: hidden;
	height: 34px;
	float: right;
	object{
		height: 70px;
		width: 296px;
	}
}
.ajax-loading.checkout-confirm{
	top: 9%;
	left: 32%;
}

.clearboth{
	clear: both;
	float: none;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 1em;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

.hidden{
    display:none;
}
.eci--hidden {
  display: none !important;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child,
.indicator:last-child {
  *margin-left: 0;
}

[class^="flag-"]:last-child,
[class*=" flag-"]:last-child {
  *margin-left: 0;
}

textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: " ";
}
.basket-summary .order-subtotal ol li:before,
.basket-summary .order-subtotal ol li:after {
  display: table;
  content: " ";
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}

.form__item--center {
  display: block;
  margin:0 auto;
  text-align: center;
}

/*input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #fff;
  background-color: initial;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}*/

input.error,
select.error {
  color: #c00;
  border-color: #c00;
}
input.error:focus,
select.error:focus {
  border-color: #b80000;
}
textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}

#idDocumentType{
  option{
       border-right: 0.077em solid #000;
  }
}
