.btn {
	box-shadow: none;
    background-image: none;
    border-color: none;
    border-image: none;
    border-style: none;
    border-width: 0px;
    box-shadow: 0;
    color: @white50;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    margin-bottom: 0;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Open Sans';
    text-decoration: none;
    text-align: center;
    background-color: @grey6;
    padding: 0.9em 1.5em;
    &:hover{
        color: @white50;
        background-color: @white85;
    } 
} 

.btn-success {
	background-color: @eci_color2;
	padding: 0.90em 0;
    color: @white;
    min-width: 32%;
    &:hover {
        background-color:@eci_color;
        color: @white;  
    }
}

.test-shipment-continue  {
	border: none;
}

.button-set__button--grey {
    background-color: @grey6;
	padding: 0.90em 8% !important;
    &:hover {
        background-color: @white85;
        color:@white50;
    }	
}
.btn-mini {
    background-color: @grey6;
    &:hover {
        background-color: @white85;
        color:@white50;
    }   
}

#btn-editBasket {
    background: none !important;
	text-transform: uppercase;
	border: none;
	text-transform: capitalize;
    margin-top: -3px;
    float:left;
    text-decoration: underline;
	font-size: 0.923em;
	color: @white50;
    margin-left: 4px;
    &:hover{
        text-decoration: underline;
        color: @white25;
    }
}

#removeDiscount{
    &:hover{
        color:@white50;
    }
}

#btn-editData {
    background: none !important;
    text-transform: uppercase;
    border: none;
    text-transform: capitalize;
    margin-top: -3px;
    float:left;
    text-decoration: underline;
    font-size: 1em;
    color: @white50;
    &:hover{
        text-decoration: underline;
        color: @white25;
    }
}
.order-detail__delivery__box-billing__button{
	cursor: pointer;
    border:none;
    right: 0.5em;
    top:-1em;
    position: absolute;
    &__link{
        display: inline-block;
        padding: 0;
    }
    a{
        text-decoration: underline;
        text-transform: capitalize;
        font-size: 0.923em;
        border:none;
        color: @white50;
        &:hover{
            color: @white25;
        }
    }
    i{
        float: left;
    }
}


.removeCard{
    padding:7px 1em !important;
}

.order-detail__delivery__box-billing__button-data{
    background: none !important;
    border:none;
    right: 1.5em;
    top: 2.6em;
    position: absolute;
    &__link{
        display: inline-block;
        padding: 0;
    }
    a{
        text-transform: capitalize;
        font-size: 0.923em;
        border:none;
        color: @white50;
        margin-top: -3px;
        margin-left: 3px;
        float: left;
        &:hover{
            color: @white25;
        }
    }
    i{
        float: left;
    }
}
.button{
    input{
        border:none;
        letter-spacing: 0.1em;
    }
}
.button-set{
    &__button--green{
	color: #fff;
    text-align: center;
    }
    &--down {
       .form-actions.continue {
            text-align: right;
            border-top: 1px solid @white80;
       } 
    }
}

.add-editBasket{
    margin-top: 0.385em;
    float: right;
    width: auto;
    .icon-modificar{
        float: left;
    }
}

.btn.associated{
    margin-top: 0;
}


h2.form__instructions {
    clear: none;
    height: auto;
}

/*--------ACEPTAR CANCELAR MODAL----------*/

button.btn, input.btn[type="submit"], input.btn[type="button"] {
    padding: 0.9em 1.5em;
}

input, button, select, textarea{
    font-family: 'Open Sans';
}

a {
    text-decoration: underline;
}


span.button.btn.btn-large.btn-success.btn-success-verde.button-set__button.button-set__button--green.btn-pago-sup {
    padding: 0.538em 10.2% !important;
}
.row.form__container-bigtitle {
     .form__title{
        display: block;
     }
}

btn{
    letter-spacing: 0.1em;
}
.button{
    letter-spacing: 0.1em;
}
.input-store-select-responsive{
    input{
        width: 100%;
        text-align: center;
    }
}