.basket-summary{
	border: 0.154em solid #e2e2e2;
    margin-bottom: 0;
    padding: 1em;
    overflow: hidden;
    &__item{
         padding:0 1em 1em 1em;
        &__description{
            .summary{
                font-size: 1em;
                font-weight: 500;
                color: @white25;
                text-transform: uppercase;
            }
            .box-price-cesta{
                font-size: 1em;
                font-weight: 500;
                color: @white25;
                text-transform: uppercase;
                float: right;
            }
            
        }
        &__img{
            float: left;
            img{
                max-width: 100%;
                width: 80px;
                height: auto;
            }
        }
        &__description-total{
            text-transform: uppercase;
        }
        &--subtotal{
            font-weight: 700;
            .price{
                float: right;
            }
        }
    }
    &__header{
        padding:1em 0px 0 0;
        width: 100%;

    }

    &__footer{
        padding:1em;
    }

    .header{
        padding:1em 0em;
        background-image: none;
        background: none;
        border: none;
        .summary-header{
            text-transform: uppercase;
            font-size: 1em;
            font-weight: normal;
        }
    }

    .content{
        border-bottom: 0;
        width: 100%;
        float: left;
        .delivery-group{
            background: @white100;
            box-shadow: none;
            padding: 0em;
            margin-bottom: 1em;
            /*height: 60px;*/
            border-top:none;
            width: 100%;
            float: left;
            position: relative;

            .box-description{
                width: 100%;
                padding:0;
            }
            .box-price{
                vertical-align: bottom;
            }

            ol.line-items{
                border-right: 0.077em solid #fff;
                li{
                    padding: 0.5em 1em;
                    font-size: 1em;
                    .description{
                        text-align: left;
                        width: 140px;
                        margin-left: 1em;
                        font-size: 1em;
                        float: left;
                        line-height: 1.2em;
                    }
                    .description_variants{
                        text-align: left;
                        width: 140px;
                        margin-left: 1em;
                        font-size: 1em;
                        float: left;
                        line-height: 1.2em;
                    }
                    .price{
                        float: right;
                    }
                }
                li.subtotal{
                    text-transform: uppercase;
                    padding: 0;
                    color:@white25;
                    font-weight: normal;
                    font-size: 1em;
                    padding-top: 0.462em;
                    border-top: none;
                    display: none;
                    .description{
                        font-size: 1em;
                        color:@white25;
                        font-weight: normal;
                    }
                }
            }
            .delivery{
                span{
                    font-weight: 700 !important;
                    color: @white25;
                    text-transform: uppercase;
                    margin-right: 0;
                    display: inline-block;
                    font-size: 1em;
                }
                span.price-cesta{
                    position: absolute;
                    right: 0;
                    /*background: #fafafa;*/
                    bottom: 0;
                    text-align: right;
                    .box-price-cesta{
                        padding: 13px;
                    }
                }
                .linkBasket{
                    float: left;
                    width: 100%;
                    margin-top: 5px;
                    margin-bottom: 1em;
                    #linkBasket{
                      color: @white25;
                    }
                }
            }
        }
    }
    .footer{
        padding: 0;
        .total{
            border-bottom:none;
            background-color: transparent;
            background-image: none;
            color: @white25;
            padding: 0em;
            margin-top: 1em;
            span{
                font-weight: bold;
            }
            .price{
                font-size: 1.5em;
                float: right;
                line-height: 24px;
            }
            p{
                font-weight: normal;
            }
            .line{
                text-transform: uppercase;
                font-size: 1.5em;
                font-weight: bold;
            }
            .tax-lines{
                padding: 0;
                margin-top: 1em;
                border-bottom: none;
                float: right;
                margin-bottom: 0;
                p{
                    font-size: 1em;
                    color: @white50;
                    text-transform: none;
                    float: right;
                    line-height: 1.5em;
                    text-align: right;
                    text-decoration: underline;
                }
            }
        }
    }
    .order-subtotal{
        border-bottom:none;
        border-top: none;
        padding: 0;
        padding: 1em 0;
        clear: both;
        ol{
            list-style: none;
            li{
                padding: 0;
                margin: 0;
                font-size: 1em;
                font-weight: bold;
                text-transform: uppercase;
                .description{
                    width: 67%;
                    font-size: 1em;
                    float: left;
                }
            }
            li.subtotal{
                color: @white50;
            }
            li.promotion {
                color: #6ca007;
            }
            li.gift-card {
              color: #008357;
            }
        }
    }
   .order-pending {
      border-bottom: none;
      border-top: none;
      padding: 1.154em 0.615em;
      ol{
        list-style-type: none;
        li{
            font-size: 1.000em;
            list-style-type: none;
            font-weight: bold;
            text-transform: uppercase;
            .description {
                width: 67%;
            }
            .pending {
                color: #008357;
            }
            .price {
                float: right;
            }
        }
      }
    }

}

.basket-summary-promo{
    float: left;
    width: 100%;
    margin-top: 1em;
}

.basket-summary .content .delivery-group ol.line-items li:before,
.basket-summary .content .delivery-group ol.line-items li:after {
  display: table;
  content: " ";
}
.basket-summary .content .delivery-group ol.line-items li:after {
  clear: both;
}


