.checkout-confirm-order-number{
	.order-num{
		span{
			color: @sts-eci;
		}
	}
}
.payment-details-guest-delivery-summary{
	border-bottom: none;
	margin-bottom: 0;
	margin-top: 1em;
}

.checkout-payment-billing-summary{
	padding-top: 0;
	.form__title{
		margin-top:0;
	}
}

.product-list-mode{
	width: 100%;
	padding: 1em;
	background: @white100;
	text-transform: uppercase;
	margin-bottom: 1em;
}
.confirmation{
	&__footer{
		padding: 1em 0;
		/*float: right;*/
		text-align: right;
	}
	&__item{
		&__description{
			text-align: right;
			float: right;
			padding-bottom: 1em;
			.summary{
				float: left;
				margin-right: 1em;
				text-transform: uppercase;
			}
			.price-cesta{
				float: left;
			}
		}
	}
}