/*Fonts*/

@font-face {
  font-family: 'moonshine-font';
  src: url("/assets/fonts/moonshine-font.eot");
  src: url("/assets/fonts/moonshine-font.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/moonshine-font.woff") format('woff'), url("/assets/fonts/moonshine-font.ttf") format('truetype'), url("/assets/fonts/moonshine-font.svg#moonshine-font") format("svg");
}


@font-face {
    font-family: 'latohairline_italic';
    src: url('../fonts/lato-hairlineitalic.eot');
    src: url('../fonts/lato-hairlineitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairlineitalic.woff2') format('woff2'),
         url('../fonts/lato-hairlineitalic.woff') format('woff'),
         url('../fonts/lato-hairlineitalic.ttf') format('truetype'),
         url('../fonts/lato-hairlineitalic.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latolight_italic';
    src: url('../fonts/lato-lightitalic.eot');
    src: url('../fonts/lato-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lightitalic.woff2') format('woff2'),
         url('../fonts/lato-lightitalic.woff') format('woff'),
         url('../fonts/lato-lightitalic.ttf') format('truetype'),
         url('../fonts/lato-lightitalic.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('../fonts/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latohairline';
    src: url('../fonts/lato-hairline.eot');
    src: url('../fonts/lato-hairline.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline.woff2') format('woff2'),
         url('../fonts/lato-hairline.woff') format('woff'),
         url('../fonts/lato-hairline.ttf') format('truetype'),
         url('../fonts/lato-hairline.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light.woff2') format('woff2'),
         url('../fonts/lato-light.woff') format('woff'),
         url('../fonts/lato-light.ttf') format('truetype'),
         url('../fonts/lato-light.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato-italic.eot');
    src: url('../fonts/lato-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic.woff2') format('woff2'),
         url('../fonts/lato-italic.woff') format('woff'),
         url('../fonts/lato-italic.ttf') format('truetype'),
         url('../fonts/lato-italic.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/lato-bolditalic.eot');
    src: url('../fonts/lato-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bolditalic.woff2') format('woff2'),
         url('../fonts/lato-bolditalic.woff') format('woff'),
         url('../fonts/lato-bolditalic.ttf') format('truetype'),
         url('../fonts/lato-bolditalic.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black.eot');
    src: url('../fonts/lato-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black.woff2') format('woff2'),
         url('../fonts/lato-black.woff') format('woff'),
         url('../fonts/lato-black.ttf') format('truetype'),
         url('../fonts/lato-black.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/lato-blackitalic.eot');
    src: url('../fonts/lato-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-blackitalic.woff2') format('woff2'),
         url('../fonts/lato-blackitalic.woff') format('woff'),
         url('../fonts/lato-blackitalic.ttf') format('truetype'),
         url('../fonts/lato-blackitalic.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("/assets/fonts/OpenSans-Light.eot");
  src: url("/assets/fonts/OpenSans-Light.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/OpenSans-Light.woff") format('woff'), url("/assets/fonts/OpenSans-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-Regular.eot");
  src: url("/assets/fonts/OpenSans-Regular.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/OpenSans-Regular.woff") format('woff'), url("/assets/fonts/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url("/assets/fonts/OpenSans-Bold.eot");
  src: url("/assets/fonts/OpenSans-Bold.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/OpenSans-Bold.woff") format('woff'), url("/assets/fonts/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("/assets/fonts/OpenSans-Semibold.eot");
  src: url("/assets/fonts/OpenSans-Semibold.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/OpenSans-Semibold.woff") format('woff'), url("/assets/fonts/OpenSans-Semibold.ttf") format('truetype');
}