/*Oculto footer no accesible, puede estar dentro de sitebuilder*/

.secondary-accepted-cards {
    display: none;
}


#primary-footer-container {
	display: none;
	&:before, &:after {
		display: none;
		padding: 0;
		padding-bottom: 0;
		padding-top: 0;
	}
	.footer-section-container {
	    display: none;
	}	
}

.secondary-brand {
	display: none;
}

/*Footer*/

.primary-copyright {
	text-align: center;
	background: @grey6;
	border-top: 0.077em solid grey1;
	padding: 0;
	div {
		p {
			height: 5em;
		    line-height: 5em;
		    border-top: 0.308em solid @white75;
		    color: @grey2;
		    font-size: 1.077em;
		    margin:0;
		}
	}
}
