

legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 1em;
  line-height: 1.846em;
  color: @white25;
  font-weight: bold;
  border: 0;
  padding-top: 1em;
}

label {
  display: block;
  margin: 0px 0.769em 0.385em 0px;
  color: @white50;
  font-size: 1.231em;
}

input,
textarea,
select,
.uneditable-input {
  color: @white50;
  border: 0.077em solid  @white90;
}

.radio,
.checkbox {
  color: @white50;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: thin dotted @white25;;
}

.input-xlarge {
  width:98%;
}

.help-block {
  display: block;
  margin-top: 0.685em;
  margin-bottom: 0;
  color: #c5c5c5;
  font-size: 0.923em;
  a{
    color: #c5c5c5;
  }
}


#pay-type-paypal{
  width: 0;
}

.radiogroup.option-row{
  padding-top: 0px; 
  label {
    float: left;
    margin-right: 2em;
  }
}

.form-horizontal {
  h1, h2 {
    margin-bottom: 0px;
    font-size: 1.2em;
    text-transform: uppercase;
    clear: both;
  }
  .control-label {
    color: @white25;
    float: left;
    text-align: left;
    width: 51%;
    font-size: 1em;
    line-height: 130%;
  }
  .controls {
    margin-left: 0;
  }
  label {
    color: @white50;
    font-size: 1em;
    line-height: 1.5em;
  }
  .title-address {
    margin-bottom: 1.154em;
    font-size: 1.462em;
    text-transform: uppercase;
    color: #d5d5d5
  }
  .control-group{
    margin-bottom: 10px;
  }
}
.container{
  &__toggle-form{
    padding-bottom: 0.385em;
    margin-bottom: 2em;
    clear: both;
    border-bottom: 1px solid @white80;
  }
  &__toggle-form-send{
    padding-bottom: 0.385em;
    margin-bottom: 2em;
    clear: both;
    border-bottom: 1px solid @white80;
  }

}


h2.form__instructions {
  clear: both;
}
.description-form-entrega{
  margin: 5px 17px;
  color: @white80;
}

.toggle-form-address {
  cursor: pointer;
  font-size: 1.231em;
  text-transform: uppercase;
  &:hover {
     color: @white25;
  }
}

.toggle-iva{
  font-size: 1em;
  text-transform: none;
  float: right;
  text-decoration: underline;
  cursor: pointer;
}
.toggle-iva-desglose{
  text-align: right;
  margin-top: 1px !important;
  float: right !important;
  width: 100%  !important;
}
.toggle-iva:before{
 /*content: "\e630";*/
  font-family: moonshine-font;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 500;
  margin-top: 0px;
  margin-right: 0.615em;
  text-decoration: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  rotation: -90deg;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}
.toggle-form {
  clear: both;
  cursor: pointer;
  font-size: 1.2em;
  text-transform: uppercase;
  height:auto;
   &:hover {
     color: @white25;
  }
}
.toggle-form-send {
  clear: both;
  cursor: pointer;
  font-size: 1.2em;
  text-transform: uppercase;
  height:auto;
   &:hover {
     color: @white25;
  }
}
.toggle-label {
  display: none;
  background: #f5f5f5 !important;
  padding: 1.538em;
}
.form__hidden {
  display: none !important;
}

.all-to-opencor .form__item {
  float: left;
  width: 47%;
  margin-left: 2%;
}

.personal-data {
  .control-group {
    float: none;
    width: 100%;
  }
}
.form__item {
  &__labels-tarjet{
    width: 100%;
    float: none;
    display: block;
  }
}
.toggle-form-label {
    background: #fafafa !important;
    padding: 0.75em 0 0.75em 0.75em ;
}

.box-persononal-dates {
    text-align: left;
    .box-personal-dates {
      text-align: left;
      &__container{
        border: none;
        margin: 0em 0em 1em 3em;
        padding: 0;
        float: none;
        width: 100%;
        font-size: 1.1em;
        legend{
          color: @white50;
          font-weight: 500;
          margin: 0;
          padding: 0;
          font-size: 0.9em;
        }
      }
      &__dates {
        &--name {
          margin-left: 1em;
        }
        &--phone {
          margin-left: 0.65em;
        }
      }
    }
}

.form__container-bigtitle {
  overflow: visible;
  margin-bottom: 20px;
}

.span12 {
  .form-actions {
    margin-bottom: 0.769em;
    margin-top: 0px;
  }
}

.help-block {
  ul{
    li{
      color: #c00;
      font-size: 1em;
    }
  }
  a{
    color: @white50;
  }
}

.form-actions {
  border-top: none;
}


.form-errors {
    background-color: #fafafa;
    border: 0.077em solid  @white80;
    border-radius:0;
    margin-bottom: 2.308em;
    padding: 1.538em;
    clear: both;
    width: 83%;
    margin: 0 auto;
    margin-bottom: 1.231em;
    box-sizing: border-box;
    li{
      color: @white50;
      font-size:1em;
      margin-top: 0.5em;
      &:first-child{
        margin-top: 0;
      }
    }
}
 
.form__label .form__label--custom-check {
  float: none !important;
}

/* tooggle Send*/
.toggle-active-send{
  .toggle-form-send:before {
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    rotation: 0deg !important;
  }
  .accordion_list_item {
    max-height: 99999px !important;
    opacity: 1 !important;
    margin-top: 6px;
    margin-bottom:1em;
    &:before {
      max-height: 99999px !important;
      opacity: 1 !important;
    }
    .form-horizontal.separate{
      .supplemental{
        label.control-label{
          float: none;
        }
      }
    }
  }
}

/* tooggle */
.toggle-active{
  .toggle-form:before {
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    rotation: 0deg !important;
  }
  
  .accordion_list_item {
    max-height: 99999px !important;
    opacity: 1 !important;
    margin-top: 6px;
    margin-bottom:1em;
    &:before {
      max-height: 99999px !important;
      opacity: 1 !important;
    }
    .form-horizontal.separate{
      .supplemental{
        label.control-label{
          float: none;
        }
      }
    }
  }
}


.toggle-form {
  cursor: pointer;
  &__title{
    cursor: pointer;
    text-transform: uppercase;
  }
}
.toggle-form-send {
  cursor: pointer;
  &__title{
    cursor: pointer;
    text-transform: uppercase;
  }
}
.tax-lines{
  .toggle-form:before {
    content: "" !important;
  }
  .taxType{
    font-weight: bolder;
    padding-top: 15px;  
  }
  li{  
    float: left;
    width: 25%;
  }
}


.toggle-form:before {
  content: "\e630";
  font-family: moonshine-font;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 500;
  margin-top: 0px;
  float: left;
  margin-right: 0.615em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  rotation: -90deg;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}
.toggle-form-send:before {
  content: "\e630";
  font-family: moonshine-font;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 500;
  margin-top: 0px;
  float: left;
  margin-right: 0.615em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  rotation: -90deg;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}
.toggle-form__title:before {
 /* content: "\e630";
  font-family: moonshine-font;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 500;*/
  margin-top: 0px;
  float: left;
  /*margin-right: 0.615em;*/
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  rotation: -90deg;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

.collapse-payment:before {
  content: "\e630";
  font-family: moonshine-font;
  font-style: normal;
  font-weight: 500;
  margin-top: 0px;
  float: left;
  margin-right: 0.615em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  rotation: -90deg;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

#pickup-home {
  max-height:0px;
  overflow:hidden;
  float: left;
  clear: both;
  opacity: 0;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  transition:all 0.5s linear;
  margin-bottom: 15px;
  width: 100%;

}
.toggle-label-address #pickup-home {
  max-height:none;
  opacity: 1; 
  overflow: inherit;
}
.accordion_list_item {
  max-height:0px;
  overflow:hidden;
  float: left;
  clear: both;
  opacity: 0;
  width: inherit;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  transition:all 0.5s linear;
  width: 98.7%;
}
.accordion_list_item-pay {
  max-height:0px;
  overflow:hidden;
  float: left;
  clear: both;
  opacity: 0;
  width: inherit;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  transition:all 0.5s linear;
  width: 94%;
}
#pay-type-paypal{
    width: 20px;
  }

/* tooggle */

.form__legend_small{
  text-transform: none;
}

.checkout-page .delivery-details fieldset.separate {
  width: auto;
  margin-bottom: 0;
}

#email-me, #conditionsCheck{
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}
#conditionsCheck_label{
  padding-left: 2em;
}
.only-desktop {
  margin-top: 0em;
}

.no-border.gift-receipt.payment-methods__option--no-border.form__item {
  .form__label.form__label--custom-check {
      float: none;
      margin-left: 2.692em;
  }
}
.modal-footer{
  margin-top: 25px;
  padding: 20px 0px;
    label.checkbox {
      right: 19.538em;
    }
  
  } 
.email-text{
  padding-left: 2em;
}


.result-iva{
  text-align: right;
}

/*new inputs*/
.custom-radio-helper{
  float: left;
}
.input-awesome[type="radio"] {
  display: none;
} 


.input-awesome ~ .custom-radio-helper:before  {
  content: "";
  background-image: url("/assets/eci/img/icon-check.png");
  float: left;
  width: 10px;
  margin-right: 7px;
  height: 10px;
  background-repeat: no-repeat;
  margin-top: 5px;
  background-position: 0px -10px;
}
.input-awesome:checked ~ .custom-radio-helper:before {
  background-image: url("/assets/eci/img/icon-check.png");
  float: left;
  width: 10px;
  margin-right: 7px;
  height: 10px;
  background-repeat: no-repeat;
  margin-top: 5px;
  background-position: 0 0;
}


/*.custom-radio-helper:before {
  font-family: 'FontAwesome';
  width: 1.25em;
  display: inline-block;
}
.input-awesome ~ .custom-radio-helper:before  {
  content: "\f10c";  circle-blank 
  float: left;
  padding-top: 1px;
  font-weight: normal;
}
.input-awesome:checked ~ .custom-radio-helper:before {
  content: "\f111";
  float: left;
  padding-top: 1px;
}*/

/*no ie8*/
.lt-ie9 {
  .input-awesome[type="radio"] {
    display: inline;
  } 

  .custom-radio-helper:before {

    display: none;
  }
  .input-awesome ~ .custom-radio-helper:before  {

    display: none;
  }
  .input-awesome:checked ~ .custom-radio-helper:before {

    display: none;
  } 
}

/*Formulario añadir/editar direcciones*/

fieldset.form-horizontal .fields.address-two-columns {
  overflow: hidden;
  .control-group {
    float: left;
    margin-right: 0;
     .sub-group {
      float: left;
      width: 50%;
      margin-right: 0;
      .controls{
        margin-left: 0;
      }
    }
    .numero-sn{
      width: 50%;

      .control-label{
        padding-top: 0;
      }
    }
  } 
  label[for="frm-sn"]{
    display: inline-block;
    margin-left: 4px;
  }
  .numero-sn {
      float: none;
      adding-top:13px;
      display: inline-block;
      padding-top: 31px;
      input {
        float: none;
        margin-left: 0;
        display: inline-block;
        margin-top: 0;
      }
      label {
        float: none;
        display: inline-block;
        line-height: 2.5;
      }

  }
}
.checkout-page .form-horizontal .control-group.inline .sub-group.appended {
  label[for="frm-sn"] {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-top: 0;
  }
}

.adv-reg-box{
  float: left;
  margin-right:50px;
  span{
    float: right;
    margin-right: 0px;
  }
}
.billing-array{
  .numero-sn{
    margin-top:9px;
  }
}


.adv-reg{
  width: 100%;
  float: none;
  display: block;
  margin-bottom: 12px;
}
.checkout-page .form-horizontal .control-group.inline .sub-group.appended label[for="frm-sn"], .checkout-page .form-horizontal .control-group.inline-block .sub-group.appended label[for="frm-sn"]{
  float: left;
  margin-right: 5px;
}

.checkout-page .form-horizontal .control-group.inline .sub-group.mini, .checkout-page .form-horizontal .control-group.inline-block .sub-group.mini{
  max-width: 100%;
}

/*-------TABS-------------*/
ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px; /*--Set height of tabs--*/
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  width: 100%;
}
ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 31px; /*--Subtract 1px from the height of the unordered list--*/
  line-height: 31px; /*--Vertically aligns the text within the tab--*/
  border: 1px solid #999;
  border-left: none;
  margin-bottom: -1px; /*--Pull the list item down 1px--*/
  overflow: hidden;
  position: relative;
  background: #e0e0e0;
}
ul.tabs li a {
  text-decoration: none;
  color: @white25;
  display: block;
  font-size: 1.2em;
  padding: 0 20px;
  border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
  outline: none;
}
ul.tabs li a:hover {
  background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not
        listen to the hover properties--*/
  background: #fff;
  border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with
        its content--*/
}

.tab_container {
  border: 1px solid #999;
  border-top: none;
  overflow: hidden;
  clear: both;
  float: left; width: 100%;
  background: #fff;
}
.tab_content {
  padding: 20px;
  font-size: 1.2em;
}
.observations {
  height: 6em;
  width: 95.5%;
  padding: 7px 2% !important;
}
/*ANCHOS FORMULARIOS DIRECCION*/

.fields.address-two-columns {
  .control-label {
    width: 100%;
  } 
}
.modal-wrapper.add-address{
  #frm-change-address {
    width: 97%;
  } 
}
.modal-wrapper.edit-address{
  #frm-change-address {
    width: 97%;
  } 
}



fieldset.form-horizontal {
  .fields.address-two-columns {
    .size {
      &--100 {
        width: 100% !important;
        input {
          .box-sizing-input-text();
          width: 100%;
          padding: 7px;

        }
      }
      &--70 {
        width: 70%;
        input {
          .box-sizing-input-text();
          width: 100%;
          padding: 7px;

        }
      }
      &--50 {
        width: 50%;
        input {
          .box-sizing-input-text();
          width: 88%;
          padding: 0.5em 2%;
        }
        #secondLastName {
          width: 100%;
        }
        #state {
          width: 100%;
        }
        select {
          width: 88%;
          padding: 4px;
          height: 2.572em;
        }
        .frm-province {
          width: 100%;
        }
      }
      &--30 {
        width: 30%;
        input {
          .box-sizing-input-text();
          width: 81%;

        }
        input[type="checkbox"] {
          width: inherit;
        }
        select {
          width: 81%;
          height: 2.572em;
        }
        .indicator-number--short {
          input {
            .box-sizing-input-text();
            width: 55%;
          } 
        }
      }  
    }
  } 
}
.indicator-number.indicator-number--short .errors-list {
    max-width: 94px;
}

.address-two-columns {
  overflow: hidden;
}

.row-fileds {
  width: 100%;
  overflow: hidden;
}



/*ANCHOS FORMULARIOS DIRECCION OTRA PERSONA*/

.fields .address-two-columns {
  .control-label {
    width: 98%;
  } 
}

fieldset.frm-delivery-pickup .fields.address-two-columns .size {
  &--100 {
    width: 98%;
    input {
      width: 96%;
    }
  }
  &--70 {
    width: 70%;
    input {
      width: 93%;
    }
  }
  &--50 {
    width: 49%;
    input {
      width: 91.5%;
    }
  }
}

.row-fileds {
  width: 100%;
  overflow: hidden;
}

/*ERRORES*/
.payment-option {
  .help-block {
    margin-right: 0;
    float: none;
  }  
}
#eci-card-advance {
  .form__errors-horizontal {
    li {
      display: none;
    }
  }
}
#credit-debit>.form-horizontal>.control-group {
  vertical-align: top;
}


.infoWindow_name {
  margin: 0;
  color: @white50;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.infoWindow_address {
  margin: 0;
  color: @white50;
}

.infoWindow_cp {
  margin: 0;
  color: @white50;
}
.info-notice.form__warning{
  padding: 1.5em;
  margin-bottom: 1.5em;
}
.form-horizontal {
  .unavailable {
    img {
      opacity: 0.1;
    }
  }  
}
.errors-list ul {
  width: 90%;
}
