#top-level-navigation {
	padding: 4px 0;
	background-color: @white95;
	margin-bottom: 0px;
	.primary-service-links{
		display: inline;
		list-style: none;
		margin-right: 0.462em;
		li{
			display: inline;
			padding: 0 5px 0 7px;
			font-size: 8px;
			a{
				font-size: 1.55em;
	   			 font-weight: 500;
			}
			&:last-child{
				padding-right: 0;
			}
		}
	}
	.top-level-container{
		.sub-container{
			width: 500px;
			float: right;
			text-align: right;
			line-height: 16px;
		}
	}
}
/* LOGOTIPO SIN IMAGEN
.primary-brand {
	font-family: 'moonshine-font';
	color: #008c2e;
	text-decoration: none;
	font-size: 3em;

	&:before {
		content: "\e607";
	}
}
*/
.primary-brand{
	float: left;
	img {
	 	margin-left: 2.20em;
	  	margin-top: 6px;
  	}
}
#secure-header {
  margin: 0px auto 20px auto;
}
.secure-tramitation {
	line-height: 1.2em;
	text-transform: uppercase;
	overflow: hidden;
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-family: 'latoregular' !important;
	background: @white15;
	font-weight: bold;
	padding: 0.63em;
	text-align: center;
	color: @white75;
	letter-spacing: 0.20em;
	font-size: 0.95em;
	white-space: normal;
	text-overflow: ellipsis;



    .site-header__logo {
    	 width: 72.30em !important;
    	 margin: 0 auto;
    }
}

.checkout-steps {
	background-image: none;
	margin:0 auto;
	width: 92.3em;
	padding-top: 2em;
  	margin-bottom: 3em;
  	
	&__container {
		width: 960px;
		margin: 0 auto;
	}
	li {
		color: #C5C5C5;
		display: inline-block;
		float: left;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
		width: 20%;
		padding-bottom: 0.669em;
		padding-top: 0.669em;
		font-size: 1.1em;
		border-bottom: 1px solid #C5C5C5;
	}
	li.active{
		border-bottom: 5px solid #C5C5C5;
		color: #3f3f3f;
		height: 13px;
	}
}
/*modalsssssss*/

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.modal-footer:after {
  clear: both;
}
.modal-footer label.checkbox {
  position: absolute;
  right: 125px;
  top: 27px;
  font-size: 14px;
}
.modal-footer .cancel {
  float: left;
}
.modal-footer .btn-success {
  float: right;
}
.modal-footer-compact {
  background-color: #fff;
  padding: 0px 30px 30px 30px;
}
.modal-footer-compact .btn {
  margin-right: 15px;
}
.modal-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 5px solid #fff;
}
.modal-content .heading {
  margin: 0;
  font-weight: normal;
  color: #333;
  text-rendering: optimizelegibility;
  line-height: 16px;
  font-size: 14px;
}
