[class^="icon-"], [class*=" icon-"], .indicator {
    display: inline-block;
    height: inherit;
    line-height: 1;
    vertical-align: middle;
    width: inherit;
    margin: 0 0.385em;  
}
.icon-gift:before {
    content: "\e63A";
    font-family: moonshine-font;
    font-size: 3em;
    line-height: 0.9;
    font-style: normal;;
    float: left;
    margin-right: 0;
}

.icon-twitter{
    color: @white80;
    &:before {
        content: "\e615";
        font-family: moonshine-font;
        font-size: 1em;
        line-height: 0.9;
        vertical-align: top;
        font-style: normal;;
        float: left;
        margin-top: 0.538em;
    }
    &:hover{
        color: #55acee;
    }
}

.icon-facebook{
    color: @white80;
    &:before {
        content: "\e608";
        font-family: moonshine-font;
        font-size: 1em;
        line-height: 0.9;
        vertical-align: top;
        font-style: normal;
        float: left;
        margin-top: 0.538em;
    }
    &:hover{
        color: #3b5998;
    }
}

.icon-credit{
    background: url("/assets/eci/img/sprite-card.svg");
}
.icon-credit:before{
    background: url("/assets/eci/img/sprite-card.svg");
    content: "";
}

.icon-left-medium {
  display: none;
}

 .icon-right-medium {
  display: none;
}
.checkout-address-cards li.add-new-address .personal-details i {
    display: block;
    height: inherit;
    max-height: none;
    width: inherit;
}
.icon-plus.address-card__new-icon:before {
    content: "\e621";
    font-family: moonshine-font;
    font-size: 5.385em;
    font-style: normal;
    font-weight: 500;
}

.icon-phone:before {
  content: "\f095";
  font-family: moonshine-font;
  font-size: 1rem;
  line-height: 0.9;
  vertical-align: top;
  content: "\f095";
  font-style: initial;
}

.icon-help:before {
    content: "\e627";
    font-family: moonshine-font;
    font-size: 1rem;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
}

.icon-edit:before {
    content: "\e627";
    font-family: moonshine-font;
    font-size: 1.538em;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
}

.icon-delete:before {
    content: "\f014";
    font-family: moonshine-font;
    font-size: 1rem;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    margin-top: -3px;
}
.icon-delete{
    margin: 0 0.3em !important;
}

.icon-modificar:before {
    content: "\e636";
    font-family: moonshine-font;
    font-size: 1rem;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
    margin-right: -0.231em !important;
    width: auto !important;
    margin-top: -3px;
}

/*pago confirmation*/

#credit-debit{
border: 0.077em solid #e1e1e1;
    background: #fafafa;
    border-radius: 0;
    padding: 0;
    width: 100%;
    margin-top: 0.5em;
    float: left;
    .control-label{
        font-size: 1em;
        width: auto;
    }
    .only-desktop{
        display: none;
    }
    fieldset{
        padding: 15px;
    }
    .extra-info{
        width: auto;
    }
}


#eci-card, #eci-card-advance{
    padding: 0;
    width: 100%;
    float: left;
    p{
        font-size: 1em;
        width: auto;
    }
    .checkout-payment-eci-card-form{
        padding: 15px;
        padding-bottom: 0px;
    }
    fieldset{
        padding: 15px;
        padding-bottom: 0px;
    }
    .controls label{
        font-size: inherit;
    }
}


#eci-card, #paypal, #eci-card-advance{
    background: #fafafa;
    border: 0.077em solid #e1e1e1;
    margin: 10px 0 0 0;
}

.icon-checkout-confirm-print:before{
    content: "\f02f";
    font-family: moonshine-font;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1;
    vertical-align: top;
    display: inline-block;
}

[class^="icon-"], [class*=" icon-"], .indicator{
    width: auto;
    margin: 0 0.538em;
    margin-right: 0.3em;
}

.primary-phone{
    margin-top: -0.5px;
    .phone-number{
        font-size: 0.9em;
        font-weight: 500;
    }
}

.icon-printer-large, span.icon-printer-large{
    background-image: none;
    display: none;
}

.checkout-confirm-order-number{
    width: auto;
}
.icon-close {
    background-image: url("/assets/eci/img/icons.png");
    height: 35px;
    width: 35px;
    &:hover {
        background-position: -410px -74px;
    }
}
.indicator {
    display: none;
}

.form__input--custom-radio-alt:checked ~ .toggle-form__title{
    color: @white50;
    font-weight: 700;
}

/* acordeones de pago*/

/* logotipo*/
#logotypeCheckOut {
    float: left;
    font-size: 3.7em;
    padding-top: .80em;
    line-height: 1em;
    padding-left: .58em;
    z-index: 9;
    a{
        display: block;
        text-decoration: none;
        width: 4.5em;
    }
    span{
        display: block;
        text-decoration: none;
        width: 4.5em;
    }
    .logo-none{
        display: none;
    }
}

.icon, .logo {
  font-family: 'moonshine-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .transition(color .25s ease-in-out);*/
}
.icon {
  font-size: 16px;
  font-size: 1rem;
}

.logo.sns:before {content: "\e62c";}
.logo.click-and-collect:before {content: "\e62a";}
.logo.moonshine:before {content: "\e61a";}
.logo.moonshine{font-size: .4em;}
.logo.eci:before {content: "\e607" }
.logo.eci {
  color: @brand_color;
}
.logo.hipercor:before {content: "\e60d" }
.logo.hipercor {
  color: @hipercor_color;
}


