.modal-overlay {
	background: rgba(0,0,0,0.5);
}
.modal-wrapper{
	border-radius: 0;
	border: none;
	padding:1em;
}
.modal-body{
	padding:0;
	h2.presents-selection__title {
		margin-bottom: 20px;
	}
} 

.modal-close {
	position: absolute;
	white-space: nowrap;
	height: 20px;
	float: right;
	margin: 0 0.8em 0 0;
	/*padding-top: 0.4em;*/
	right: 0;
	top: 0.3em;
	font: inherit;
	border: none;
	cursor: pointer;
}
.modal-wrapper.overflow-y .modal-body {
	overflow-y: auto;
	position: relative;
	max-height: 100%;
	padding: 0;
}
.modal-wrapper.overflow-y .modal-content {
	margin: 0;
}
.add-address .modal-body .modal-body {
  overflow-y: initial;
}

.edit-address .modal-body .modal-body {
  overflow-y: initial;
}
.modal-wrapper.overflow-y .modal-body {
	top: 0;
}
.modal-wrapper.overflow-y {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

.icon-close {
	  font-size: 1.8em;
	  border: none;
	  color: @white75;
	  background-image: none;
	  width: 13px;
	  font-family: Open Sans, Arial, sans-serif;
	  text-decoration: none;
	  float: right;
	  height: 24px;
	  white-space: nowrap;
	  text-indent: 100%;
	  margin-left: -2.3em;
	&:hover{
		color:@white50;
		text-decoration: none;
	}
}

/* TABS MAPA SELECTOR DE TIENDAS*/
.responsiv-store-result{
	display: none;
}

.store-locator.modal-wrapper.overflow-y .modal-body {
  overflow-y: inherit;
}
