.payment-details{
	legend{
		text-transform: uppercase;
		font-size: 1.2em;
	}	
	.edit-billing-address{
		margin-top: -3px;
		float: left;
		margin-left: 4px;
	}
	.container{
		&__toggle-form{
			margin-top: 1em;
			border-bottom:0;
			.toggle-form{
				font-size: 0.923em;
				cursor: pointer;
				text-transform: capitalize;
				
				&:before {
					content:no-close-quote;
					-webkit-transform: rotate(-90deg);
					-moz-transform: rotate(-90deg);
					rotation: -90deg;
					-webkit-transition: all .3s linear;
					-moz-transition: all .3s linear;
					-ms-transition: all .3s linear;
					-o-transition: all .3s linear;
				}
				.icon-modificar{
					float: left;
					margin-left: 0;
				}
			}
		}
	}
	.payment-methods{
		&__container{
			.control-group{

			}
		}
	}
	#paypal{
		margin: 1em 0;
		padding:1em;
		p{
			margin: 0;
		}
	}

	.personal-data{
		width: 100%;			
		#tpvSelectOriginCountry{
				display: none;
				font-size: 14px;
			}	
		.inline{
			span.control-label{
				float: none;
			}
			label.control-label{
				float: none;
			}
		}
	}
	.fields {
		margin-bottom:0;
	}
}
.control-group {
	.pay-method {
		&__eci-card {
			&__input {
				&--14-digits {
					width: 113px;
					vertical-align: middle;
					margin-left: 43px;
				}
				&--4-digits {
					width: 35px;
				}
				&--8-digits {
					width: 66px;	
				}
				&--1-digits {
					width: 8px;
				}
			}
			&__item {
				&--mini-images {
					display: none;
				}
				&--image {
					margin-bottom: 1.5em;
				}
			}
		}
	}		
}

.payment-option{
	.payment-methods{
		&__option{
			img.only-desktop{
				&--horizontal{
					max-width: 200px;
					height: auto;	
					float: right;
				}
			}
		}

 	}
 	.help-block{
		margin-right: 20px;
		float: right;
		margin-top: 10px;
 	}
	.container__toggle-form{
		margin-bottom: 0em;
	}
}

#billing-new{
	background:@white100;
	padding: 0.769em 1.538em;
	li {
		overflow: hidden;
	}
}

#billing-form {
	width: 100%;
}
.checkout-payment-billing-summary{
	 ul{
	 	li{
	 		div{
	 			width: auto;
	 			margin-left: 41%;
	 			line-height: 1.4em;
	 		}
	 		span{
	 			width: 37%;
	 		}
	 	}
	 }
}

.payment-details-guest-delivery-summary{
	.delivery-address{
		padding-top: 1px;
		margin-bottom: 20px;
		font-weight: 500;
		text-transform: uppercase;
	}
}
	
.gift-label{
  	margin-top: 12px;
}

.checkout-payment-finance-options ul.finance-list-items li span {
  font-weight: normal;
}

.nolabel {
	.payment-option {
		li.unavailable {
			label {
				cursor: not-allowed;
			}
		}
		.finance-list-items {
			li {
				font-size: 13px;
			}
		}
	}
}

.nolabel .payment-option li:last-child {
  border-bottom: none;
}

.checkout-payment-choices {
	.gift-receipt {
		width: 100%;
		label {
			font-size: 0.98em;	
			margin-top: 14px;
		}
		.gift-check{
		  	margin-left: 10px !important;
  			margin-top: 16px !important;
		}
	}
}

.order-detail__delivery__box-billing .address-two-columns {
	display: none;
}

.pay-container{
	width: 100%;
	display: block;
}

#idDocumentType-credit, #idDocumentNumber-credit, #creditLineAccount{
	margin-top: 10px;
}

#creditLine div div{
    float:left;
}

#creditLine div .field-group-errors{
    margin-top: 32px;
    padding-left: 10px;
}


@media only screen and (max-width: 30.769em) {
	.pay-method {
		&__eci-card {
			&__item {
				&--image {
				width:100%;
				}
			}
		}
	}		
}




