
.checkout-callout-gift {
    margin: 1em auto;
    border: 1px solid @white80;
    background-color: @white95;
	background-image: none !important;
	text-align: center;
	width: 92%;
    ul.gift-items{
		margin-top: 2em;
		background-image: none;
		background: none;
    }
    &--border{
    	width: 95.4%;
    	padding: .73em 2%;
	    margin-top: 20px;
	    border: 1px solid @white80;
	    background-color: @white95;
	    display: inline-block;
    }

	.checkout-callout-gift-title {
		font-size: 1em;
		display: inline-block;
	    line-height: 1.3;
	    margin-right:0px;
	    margin-top:0px;
	    vertical-align: middle;
	    width:auto;

	}
	.checkout-callout-gift-title{
		width: auto !important;
		&:hover {
			cursor: pointer;
		}
	}

	.option-selection {
		.description {
		    float: none;
		    width: auto;
		    .checkout-callout-gift-title {
		    	padding-top: 0.923em;
		    	margin-left: 0.769em;
		    }
		}	
	}
	.gift-label{
		display: inline;
		width: auto;
	}
	.description {
		margin-bottom: 1em;
	}
	.gift-collapse{
		margin-top: 1em;
		text-transform: uppercase;
		display: none;
	}
}
/*OCULTAR BOTON*/
.enhanced .checkout-callout-gift a.btn {
	display: none;
}


.checkout-page {
	.delivery-details{
		.form-horizontal{
			.control-group{
				width: auto;
			}
		}
		fieldset{
			.separate{
				width: auto;
			}
		}
	}
	.help-block.pin{
		margin-left: 0px;
		margin-top:0px;
	}
	 .payment-details{
	 	.fields{
	 		margin-bottom: 0;
	 		padding-top: 0;
	 	}
 	} 
}

.wrap-gift{
	width: 100%;
	margin: 0 auto;
	.wrap-gift-options{
		text-transform: uppercase;
		color: @white25;
		font-size: 1.2em;
	}
	.checkout-callout-gift{
		padding:1em 0;
		width: 100%;
	}
}
.checkout-gift-options ul li.unavailable .description {
  font-size: 1em;
}
.checkout-gift-options ul li .description {
  width: inherit;
}
.checkout-gift-options ul li {
  overflow: hidden;
}