.checkout-confirm-product-list{
	float: none;
	width: 100%;
	clear: both;
	margin-bottom: 2em;
	 .products{
	 	li{
			overflow: hidden;
			list-style-type: none;
			font-size: 1em;
			margin-bottom: 0em;
			position: relative;
			padding: 1em 0em 1em 1em;
			border-bottom: 0.077em solid #c5c5c5;
			ul.product-variant-choices{
				li{
					border-bottom: none;
				}
			}
			img{
				border: 0;
				float: left;
			}
			.gift{
				clear: both;
			}
	 	}
	 	.product{
	 		.item-description{
			    margin: 0.75em 12em 0 3.8em;
			    width: 45%;
			    float: left;
			    width: 45%;
			    p{
			    	font-size: 1em,
			    }
	 		}
	 		.order-item__image{
 				width: auto;
	 		}
	 		.item-units{
	 			width: auto;
	 			float: left;
	 			text-transform: uppercase;
	 			margin-top: 3%;
	 		}
	 		.item-units-price{
	 			float:right;
	 			font-weight: 700;
	 			margin-top: 3%;
	 		}
	 	}
	}
}

.order-item__description__social{
	ul{
		margin-top:0.769em;
		li{
			border-bottom: none !important;
		}
	}
 }
span.order-item {
	overflow: hidden;
	display: block;
}

.order-item__description__bundle{
	p{
		font-size:1em;
	}
}
.checkout-confirm-products-and-delivery .delivery-number p{
	color: @white25;
}

.checkout-confirm-products-and-delivery{
	width: auto;
	border-top: 0;
	.delivery-number{
		float: none;
		display: block;
	}
}

.checkout-payment-billing-summary{
	width: 100%;
	max-width: 500px;
}

.product-variant-choices{
	li{
		border:0;
	}
}

.info-notice{
	border:0.077em solid @white80;
	background-color:@white95;
	padding: 1em;
}

.warning-notice{
	border:0.077em solid @white80;
	background-color:@white95;
	margin-bottom: 20px;
	margin-top: 30px;
	padding: 1.2em 2%;
	width: 96%;
	margin: 0 auto;
	display: block;
}


#frm-checkout-payment > div:nth-child(5) > div.span8 > fieldset.form-horizontal.payment-details-guest-delivery-summary.order-detail.last > div.checkout-confirm-product-list.order-detail__product-list{
	float: left;
	width: 40%;
}
