
.checkout-confirm-delivery-short {
    display: inline-block;
    margin: 0.3%;
    overflow: hidden;
    padding: 0;
    border: none;
    color: @white25;
    width:32.4%;
    background: none;
    vertical-align: top;
    margin-bottom: 1.5em;
    &__title{
        margin-bottom: 1.538em;
        margin-top: 1em;
        overflow: hidden;
        padding: 0em;
        width: 49.4%;
        color: #3e3e3e;
        margin-left: 0;
        float: left;
        margin-right:6px;
        &:nth-child(even){
            margin-right: 0px;
        }
        span{
            text-transform: uppercase;
        }
    }
    span{
        text-transform: uppercase;
        color: @white25;
        font-style: normal;
    }
    p{
        font-style:normal;
        font-size: 1em;
    }
    .confirm-delivery-envio{
        margin-bottom: 1em;
        display: block;
    }
    .additional{
        color: @white50;
        border: 0.077em solid @white90;
        padding: 1em;
        background:@white100;
        min-height: 85px;
        line-height: 1.4;
        span{
            font-weight: normal;
            text-transform: none;
            color: @white50;
        }
       .expectedDelivery{
        &__span{
            text-transform: initial;
            margin-right: 4px;
            margin-left: 0;
        }
       }
       .observations_home{
            margin-top: 0.7em;
       }
    }
}

.checkout-payment-apply-promos{
    .controls input[type="text"]{
        font-size: 1em;
    }
    border-top:none;
    padding-bottom:2em;
    border-bottom: none;
    padding-top: 0px;
    width: 100%;
    margin: 0;
    .form-horizontal{
        .form{
            &__subtitle{
                padding-top: 0;
            }
        }
        .form__item__labels-tarjet{
            .tarjet{
                width: 63%;
                float:left;
            }
            .pin{
                 width: 20%;
            }
        }
        
        .controls{
            #frm-coupon-code{
                width: 80%;
            }
            #frm-gift-card{
                width: 60%;
            }
            #btn-coupon{
                margin-top: 0;
                float: right;
                background-color:@eci_color2;
                color: @white;
                text-align: center;
                padding: 0.63em 1.5em;
                width: 15%;
                &:hover{
                    background-color:@eci_color;
                    color: @white;
                }
            }
            #btn-gift-card{
                margin-top: 0;
                float: right;
                background-color:@eci_color2;
                color: @white;
                text-align: center;
                 padding: 0.63em 1.5em;
                 width: 15%;
                &:hover{
                    background-color:@eci_color;
                    color: @white;
                }
            }
            #frm-gift-card-sec{
                width: 15%;
                margin-left: 2.1%;
            }
        }
    }
    .fields{
        padding-top: 0.769em;
    }
    .control-group{
        float: none;
        .promo-details{
            border: none;
            float: left;
            margin: 0 auto;
            padding: 1em;
            width: 80%;
            border-radius: 0;
        }
    }
}

.checkout-payment-choices{
    border-bottom:0;
    .attention{
        font-family: 'Open Sans';
    }
}

.nolabel{
    .billing-option{
        label{
            width: 100%;
        }
    } 
    .payment-option{
        li{
            border-bottom: 0.077em solid  @white90;
            margin:0;
            position: relative;
            padding: 0.6em 0.2em;
            overflow: auto;
        }
        li.unavailable{
            border-bottom: 0.077em solid  @white90;
            margin:0;
            padding: 0.6em 0.2em;
        }
        li.target-gift{
           padding: 0.5em 0;
        }
    }
}
.order-detail{
    &__step {
        font-weight: bold;
        color: black;
    }
    .checkout-confirm-products-and-delivery{
        li{
            .payment-details-guest-delivery-summary{
                #price{
                    float: right;

                    .promotion{
                        color: @eci_color2;
                    }
                    .gift-card{
                        color: @eci_color;
                    }
                    .order-subtotal{
                        ol{
                            li{
                                .basket-summary{
                                    &__item{
                                        margin-top: 15px;
                                       &__description{
                                            float: left;
                                            margin-right: 4em;
                                        }   
                                         .price{
                                            float: right;
                                        } 
                                    }
                                }
                                .price{
                                    float: right;
                                }
                                .description{
                                    float: left;
                                    padding-bottom: 8px;
                                }
                            }
                        }
                    }
                    .order-pending{
                        ol{
                            li{
                                .price{
                                    float: right;
                                }
                                .description{
                                    float: left;
                                }
                            }
                        }
                    }
                }

                .confirmation{
                    float: right;
                    li{
                        margin-bottom: 1em;
                    }

                    .subtotal{
                            .price-major{
                                font-weight: 500;
                            }
                            .description{
                                float: left;
                            }
                            .price{
                                float: right;
                                margin-left: 15px;
                            }
                        }
                        
                }
                .basket-summary{
                    &__item {
                         padding: 0;
                         float: none;
                         display: block;
                         clear: both;
                    }
                }
                .footer{
                        width: 100%;
                        float: left;
                    .line{
                        font-size: 1.5em;
                        font-weight: bold; 
                        float: left;
                    }
                    .price{
                        font-size: 1.5em;
                        font-weight: bold; 
                        float: right;
                    }

                    .total{
                        float: right; 
                        text-align: right;
                        width: 278px;
                        margin-top: 1.5em;

                        .tax-lines{
                                border-bottom: none;
                                margin-top: 1em;
                            .toggle-iva{
                                font-size: 0.9em;
                                text-transform: none;
                            }
                            .toggle-iva-desglose{                            
                                font-size: 0.9em;
                            }
                        }
                    }

                }

            }
        }
    }
}

.order-detail__delivery__box-billing{
    background-color: #FAFAFA;
    border: 0.077em solid @white90;
    border-radius: 0;
    display: inline -block;
    margin-bottom: 1.5em;
    margin-left: 0px;
    padding: 0.73em 2%;
    width:95.5%;
    position: relative;
    .personal-data{
        form__title{
            text-transform: inherit !important;
        }
    }
    .modal-body{
        background-color: @white100;
    }
    .modal-footer{
        background-color: @white100;
        border-top: none;
        padding: 0;
        width: 97%;
    }
    legend {
        margin:0;
        text-transform: inherit;
    }
}

.form__label--custom-radio-alt{
    input{
        margin-right: 0.462em;
        margin-top: 0.077em;
    }
}

#billing-sms{
    .fields{
        li{
            float: left;
            display: block;
            margin: 2em 0 0.5em 0; 
            width: 47%;
            li {
                width: inherit;
            }
        }
            
        #PhoneSMS{
            width: 225px;
        }
        #otherPhoneSMS{
            width: 225px;
        }
    }
}
.checkout-confirm-products-and-delivery {
    padding-top: 0;
    .delivery-number {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 5px;
        padding-top: 1em;
        span {
            color: @sts-eci;
        }

    }    
}

.order-confirmation{
    &__number {
        color: @sts-eci;
    }
    &__resume {
        border-bottom: none;
    }
}
.checkout-payment-billing-summary {
    bottom: -151px;
    border-top: none;
    ul {
        border-bottom: none;
        font-size:1em;
        margin: 1em 0;
        li {
            width: 100%;
            margin: 10px 0;
            border-bottom: 1px solid grey;
            padding: 10px 0;
        }
        li:last-of-type {
            border-bottom: none;
        }
    }
}
.checkout-confirm-products-and-delivery {
    .delivery-number{
        p {
            margin-bottom: 25px;
        }
    }
    hr{
        border: 0.1em solid #c5c5c5;
        width: 100%;
    }
}
#billing-sms {
        .control-label {
            width: 100% !important;
        }
}

.checkout-confirm-products-and-delivery li{
    overflow: visible;
}


