h2.store-block__content {
	text-align: center;
	font-family: 'latoregular' !important;
	text-transform: uppercase;
}

.store-list {
	li {
		margin-left: 0 !important;
		display: inline-block;
		padding:0.7em 1em;
		margin: 0;
		position: relative;
		vertical-align: top;
		color: @white25;
		width: 93%;
		background: none;
		.marker-number {
			padding-top: 0;
			left: 11px;
			top: 6px;
		}
	}
	.store-selector{
		background: @white !important;
		border: 0.2em solid @white75;
		padding: 0.7em 0.86em;
	}
	.store-list-name{
		margin-bottom: 1px;
		font-weight: bold;
		span{
			font-size: 1em;
			text-transform: uppercase;
			color: @white50;
		}
	}
} 

/*CAMBIOS PARA BOTON SELECCION EN NOMBRE TIENDA*/
.store-list-select {
	background: #e1e1e1;
	padding:0.2em 0.8em !important;
	font-size: 0.85em;
}

.store-search-results.store-search-results-with-map {
	#provincia {
		width: 35%;
		margin-right: 30px;
		float: left;
	}
	.store-search-results-list {
		width: 49%;
		position: absolute;
		z-index: 9;
		padding: 2%;
		.store-search-results-list-results {
			overflow: auto;
			padding: 0;
			ul{
				border: none;
				overflow: hidden;
				margin: 0;
			}
		}
	}
}

.store-search-results .store-search-results-map{
	padding-left: 0;
	width: 100%;
}

.store-map #map_canvas {
	width: 100%;
	height:100%;
}
.store-search-results .store-search-results-map .store-map {
	height: 416px;	
}
.store-list-select-none {
	width: 96%;
	text-align: center;
}
.store-list-details {
font-size: 0.9em;
	margin-top: 0.5em;
	font-size: 1em;
	margin-bottom: 0;
	color: @white50;
	.store-list-contact{
		display: inline-block;
	}
	.store-in-stock{
		font-weight: normal !important;
		margin-top: 0.6em;
	}
	.store-no-stock{
		font-weight: normal !important;
	}
}

.postal-address{
	span{
		display: inline-block;
	}
}

/**/
.store-block {
	&__content-list {
		&__list {
			&__item {
				&:nth-child(2n) {
					background-color: @white;
				}
				&:nth-child(4n) {
					background-color: @white95;					
				}
				input{
					width: 100%;
					text-align: center;
					margin-top: 9px;
					padding: 2px !important;
				}
			}
		}
	}
	&__store{

		&--content-title {
			/*CAMBIOS BOTON SELECCION EN NOMBRE TIENDA*/
			/*display: inline-block;
			vertical-align: middle;
			margin-top: 0px;
			*/
		}
		&--separation{
			margin-top: 2px;
		}
		&--details-toggle {
				display: block;
				max-height: 500px;
				opacity: 1;
				-webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    			transition: all 0.5s;
    			line-height: 18px;

			&--hidden {
				display: block;
				max-height: 1px;
				overflow: hidden;
				opacity: 0;
    			-webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    			transition: all 0.5s;
    			clear: both;
			}
		}
		&--openinghours{
			font-weight: bold;
			color: @white75;	
		}
		&--hours{
			font-weight: normal;
		}
	}
}
.province-filter {
	float:left;
	padding-top:9px;
}

.store-hr{
	margin: 7px 0;
  	border: 0;
  	border-bottom: 1px solid #dfdfdf;
  	width: 106.8%;
  	margin-left: -13px;
}

.delivery-details {
	select {
		float: none;
	}
}
.hiddenRadio {
	display: none;
}

.tab-store-result{
  display: none;
}

.store-search-results{
	margin-bottom: 0;
}

#infoWindow{
	overflow: hidden;
}
.divProvince72 {
  display: block;
  margin-top: 13px;
}
.contenedor_mapa {
  min-height: 52px;
}
.contenedor_province72 {
  height: 20px;
}
.modal-wrapper.store-locator .desk-store-result {
	overflow: hidden;
}
.store-search-results.store-search-results-with-map .store-search-results-list .store-search-results-list-results {
	max-height: 383px;
}
.tittle_combo {
	overflow: hidden;
}
/* .modal-wrapper.store-locator {
	form {
		margin-bottom: 1em;
	}
	.store-search-results-map {
		.store-map {
		    height: 31.3em;
		}
	}
	.store-search-results-list {
	    height: 71%;
	}
	.store-search-cancel{
		z-index: 100;
		position: relative;
	}
	.modal-footer {
	    padding-bottom: 0;
	}
} */


#contenedor_stsFilters {
  clear: both;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 1em;
	input{
		margin-right: 0.4em;
		margin-left: 0.5;
	}
	#stsFiltersSpinner{
		display: none;
		position: absolute;
		margin-left: -1.2em;
	}
}

