nav {
  .dimensions {
    .facet-collapsed {
      display: block;
    }
    &.facet-folded {
      display: none;
    }
    &.facet-folded {
      display: none;
    }    
  }
  sup {
    display:none;
  }  
}
.abc-box-e {
  width: 80%;
  .fr;
}
