@media only screen and (max-width: 75.385em) {
	.checkout-address-cards {
        margin: 0 0 1.538em;
    }

}
@media only screen and (max-width: 61.538em) {
	.address-card__modify {
        background: none;
    }	
}
@media only screen and (max-width: 35.000em) {
    .checkout-address-cards li {
        float: none;
        margin: 0 auto 1.538em;
        width: 96%;
    }
    .checkout-address-cards .add-new-address {
        width: 99%;
    }
    .checkout-address-cards li.pickupLocation {
        float: left;
        margin: 0 0 1.538em 1.538em;
    }
    .checkout-address-cards li:first-of-type .footer {
        width:100%;
    }

}
@media only screen and (max-width: 33.462em) {
    .checkout-address-cards li {
        float: none;
        margin: 0 auto 1.538em;
        width: 96%;
    }
    .checkout-address-cards .add-new-address {
        width: 98%;
    }
    .checkout-address-cards li.row-end{
        margin-right: auto !important;
    }
}
@media only screen and (max-width: 30.769em) {
	.checkout-address-cards li.row-end{
        margin-right: auto !important;
    }	
}
