@media only screen and (max-width: 75.385em) {
    .span8 {
        width: 62%;
        margin-left: 2%;
    }

    .span4 {
        width: 32%;
        margin-left: 2%;
    }
    .row {
        width: 96%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 61.538em) {
    #primary-content {
        width: 100% !important;
    }

    .span8 {
        width: 96% !important;
    }

    .span4 {
        width: 96% !important;
        margin-top: 2.308em;
        margin-bottom: 2.308em;
    }    
}
