@media only screen and (max-width: 75.385em) {
    .form-actions.choice.button-set.button-set--center {
        width: 100%;
    }
    #frm-checkout-continue .row .span12 {
        width: 102%;
    }
    .row.form__container-bigtitle {
        
        width: 100%;
    }
    .span12, .container {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    .row.form__container-bigtitle .span12{
        width: 92%;
    }
    .row.form__container-bigtitle .span12 .button.btn.btn-large.btn-success.btn-success-verde.button-set__button.button-set__button--green{
        margin-bottom: 1.154em;
        margin-top: 2.308em;
        width: 33%;
        padding: 0.538em 0 !important;
    }
    .row.form__container-bigtitle .span12 .continue .button.btn.btn-large.btn-success.btn-success-verde.button-set__button.button-set__button--green {
        width:34%;
    }
}
@media only screen and (max-width: 61.538em) {
    .btn.associated {
        margin-top: 1.154em;
    }	
}
@media only screen and (max-width: 44.615em) {
    .form__container-bigtitle .button-set__button--green {
        padding: 0.538em 0;
        text-align: center;
    }
    .button-set__button--grey {
        text-align: center;
        padding: 0.538em 0;
    }
    .row.form__container-bigtitle .span12 .continue .button.btn.btn-large.btn-success.btn-success-verde.button-set__button.button-set__button--green {
        width:50%;
    }

}
@media only screen and (max-width: 33.462em) {
    .form__container-bigtitle .button-set__button--green {
        float: none;
        margin: 0 auto;
        width: 83%;
    }
    .row.form__container-bigtitle .span12 .button.btn.btn-large.btn-success.btn-success-verde.button-set__button.button-set__button--green {
        width: 70%;
        float: none;
        padding: 0.538em 0 !important;
    }
    .row.form__container-bigtitle .span12 .continue .button.btn.btn-large.btn-success.btn-success-verde.button-set__button.button-set__button--green {
        width:70%;
    }
    .span12 .form-actions {
        width: 80%;
        float: none;
        padding: 0.538em 0 !important;
        margin: 0 auto 0.769em;
    }
    .row.form__container-bigtitle .span12 {
        text-align: center;
    }
    .form-actions.choice.button-set {
        width: 100%;
    }
	/*PUNTO SEPARADO*/.form-actions.choice .btn-success {
        width: 49%;
        text-align: center;
        padding: 0.538em 0;
    }
     .form__container-bigtitle .button-set__button--green {
        padding: 0.538em 0;
        text-align: center;
    }
}
@media only screen and (max-width: 30.769em) {
    .button.btn.btn-large.btn-success.btn-success-verde.button-set__button.button-set__button--green {
        margin-bottom: 1.154em;
    }
    .row.form__container-bigtitle .span12 .continue .button.btn.btn-large.btn-success.btn-success-verde.button-set__button.button-set__button--green {
        width:94.5%;
    }
	.order-detail__delivery__box-billing__button{
        position:relative;
        top: 0.769em;
        left: 0;
    }
}
