@media only screen and (max-width: 75.385em) {
    .basket-summary .footer .total .tax-lines {
        height: inherit;
        max-height: none;
    }
    .basket-summary .footer .total .tax-lines:hover {
        height: inherit;
        max-height: none;
    }	
}
@media only screen and (max-width: 61.538em) {
	.basket-summary{
        width: auto;
    }
    #btn-editBasket {
        background:none !important;
    }
}
@media only screen and (max-width: 30.769em) {
	#basket-summary{
        width: auto;
    }	
}
