@media only screen and (max-width: 75.385em) {
    .form__title {
        margin-top: 35px;
        line-height: 1.5;
    }

    .span {
        width: 100%
    }
    #pickup-home{
        margin: 0 auto;
        width: 100%;	
    }
    .container__toggle-form {
        max-height: inherit;
    }

    .container__toggle-form:hover {
        max-height: inherit;
    }
    .controls input[type="text"], .controls input[type="password"], .controls select, .controls textarea, .controls option {
        padding: 0.462em 2%;
    }

}
@media only screen and (max-width: 61.538em) {
    .help-block.pin{
        display: none;
    }
    .toggle-form-label{
        width: 94%;
        padding: 0.769em 3%;
    }
    .input-xlarge {
        width: 82%;
    }
    .checkout-page .delivery-details .form-horizontal .control-group {
        width: 100%;
    }
    .modal-footer label.checkbox {
        left: 2.308em;
        top: -3.077em;
        width: 71%;
    }
}
@media only screen and (max-width: 30.769em) {
	.no-border.gift-receipt.payment-methods__option--no-border.form__item  .form__label.form__label--custom-check{
        float: none;
        margin-left: 2.692em;
    }	
}