@media only screen and (max-width: 75.385em) {

    #secure-header {
        width: 100% !important;
    }
    #secure-header .site-header__logo{
        margin-left: 4%;
    }
    .checkout-steps {
        float: none;
        width: 92%;
    }
    #top-level-navigation .top-level-container .sub-container {
        margin-right: 2%;
    }
    .primary-brand > img {
        margin-left: 2%;
    }
    #primary-content{
        width: inherit !important;
        margin: 0 auto;
    }
    /*DESCRIPCION TEXTO EXPLICATIVO POR DEBAJO DEL TITULO DE LA PAGINA*/
    .checkout-page p.description {
        width: 96%;
        margin: 0 auto;
        margin-bottom: 0.769em;
    }
}
@media only screen and (max-width: 61.538em) {
	    /*CABECERA*/
    #secure-header {
        width: 100% !important;
    }	
}
@media only screen and (max-width: 33.462em) {
	.checkout-steps li{
        width: 50% !important;
    }	
}
@media only screen and (max-width: 30.769em) {
    #top-level-navigation .top-level-container .sub-container {
        margin-right: 0;
        text-align: center;
        width: 100%;
    }
    #secure-header .header-section-container {
        text-align: center;
    }
    .primary-brand {
        float: none;
    }
}