@media only screen and (max-width: 61.538em) {
	.all-to-opencor .form__item {
        float: left;
        width: 100% !important;
    }
}
@media only screen and (max-width: 33.462em) {
	.checkout-address-cards li.pickupLocation {
        float: left;
        margin: 0 0 1.538em 1.538em;
    }	
}
@media only screen and (max-width: 30.769em) {
	.checkout-address-cards li.pickupLocation {
        margin: 0;
	}
}