@media only screen and (max-width: 61.538em) {
    /*SELECCION DE TIENDA*/
    .store-block__content-list__list__item {
        margin: 0 4.7%;
        width: 40%;
        display: inline-block;
    }
    .store-block__content-list__list__item:nth-child(even) {
        background-color: #ffffff;
    }
    .store-block__content-list__list__item:nth-of-type(4n) {
        background-color: #f0f0f0;
    }
    .store-block__content-list__list__item:nth-of-type(4n+3) {
        background-color: #f0f0f0;
    }

    .store-list > li {
        padding: 1em;
        width: 37%;
        margin-left: 5%;
    }
    .store-block__store--content-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 67%;
    }


    .store-block__content-map {
        width: 100%;
        margin-bottom: 20px;
    }
    .store-map #map_canvas {
        width: 100%;
    }
    .store-search-results.store-search-results-with-map .store-search-results-list {
        float: none;
        width: 100%;
    }
    .store-search-results.store-search-results-with-map .store-search-results-list .store-search-results-list-results {
        max-height: none;
        overflow: hidden;
        padding: 0;
    }
    .store-block__store--content-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .store-list > li .marker-number {
        padding-top: 0;
        left: 11px;
        top: 17px;
    }
}
@media only screen and (max-width: 53.077em) {
    .store-list > li {
        padding: 15px 0 15px 11%;
        width: 78%;;
    }

    /*.store-block__content-list__list__item:nth-child(even) {
        background-color: #f0f0f0;
    }
    .store-block__content-list__list__item:nth-child(odd) {
        background-color: #fff;
    }*/
    .store-block__store--content-title {
        width: 81%;
    }
}
@media only screen and (max-width: 44.615em) {

    /*COTENEDOR TITULO TIENDA*/
    .store-block__store--content-title {
        width: 75%;
    }

}
@media only screen and (max-width: 35.000em) {

    /*SELECCION DE TIENDAS*/
    .store-block__store--content-title {
        width: 70%;
    }

}
@media only screen and (max-width: 30.769em) {
    .store-map #map_canvas {
        height: 320px;
    }
    .store-list > li {
        padding: 15px 7% 15px 17%;
        width: 71%;
        text-align: center;
    }
    .store-block__store--content-title {
        width: 100%;
    }
    .store-list-select {
        margin-top: 10px;
    }
}

