@zindex-logo:              9;
@zindex-type-ahead:        8;
@zindex-menu:              8;
@zindex-submenu:           7;
@zindex-menu-area-hover:   6;
@zindex-menu-area:         5;
@zindex-store-menu:        4;
@zindex-user-menu:         4;
@zindex-site-bar:          3;
@zindex-content-wrapper:   2;


@zindex-display-variant:   3;
@zindex-variant-list:      2;
@zindex-slider-controls:   3;
@zindex-slider-range:      2;
@zindex-tabbed:            1;
@zindex-slider-background: 1;
